[2013-01-24 15:20] tuncer opened #58 "Fix config inheritance"
Either remove config inheritance support or require keys that should be inherited to be explicitly configured as _allowed to be inherited_.

- https://github.com/basho/rebar/issues/275
- http://lists.basho.com/pipermail/rebar_lists.basho.com/2012-March/001407.html
- http://lists.basho.com/pipermail/rebar_lists.basho.com/2013-January/001923.html

[2013-03-31 17:29] eproxus opened #79 "Coverage misreported in shell"
Coverage is not reported correctly (or at least not consistently) in the shell versus the coverage HTML file (case in question: the `develop` branch of Meck, https://github.com/eproxus/meck)

The shell reports:

[code]

Test HTML reports:

[code]

The difference is the module `meck_performance_test` which exists in the `./test` folder an should not, in my opinion, be counted against the total cove

[2013-05-08 23:35] DeadZen opened #86 "tags/branches selected on an initial get-deps do not match subsequent get-deps"
For instance, if you have a dependency specifying a tag, it may download the dependency with that tag. If you delete that application, rm -rf deps/app, and then get-deps again..

It may not go to that tag again, it may go to the master branch.. I'm not sure if this is in effect due to config inheritance.. but this behaviour should always have the same outcome, regardless of whether it's the first

[2013-06-23 09:02] tuncer opened #103 "rebar 2.1 and beyond"
I think we should aim to release a stable 2.1 soon and approach the following tickets right after that:

- [x] #56
- [ ] #58
- [ ] #104

[2013-06-25 10:43] tuncer opened #104 "Plugin API"
After 2.1 is released we should start to define a plugin API. This might involve:

- documentation
- re-exporting officially public functions for plugins in a shim module
- breaking existing plugins. as there is no official plugin API yet, this may be inevitable, but should be avoided or handled with versioning and proper communication.

[2013-09-11 10:24] maximvl opened #133 "upgrade script does not handle long node name properly"
Node runner script does not respect name type in vm.args and runs ```install_upgrade.escript``` which itself only works with shortnames, and finally tries to start node with name like ```node@127.0.0.1_upgrader_18328``` and of course fails.

[2013-09-20 19:21] tuncer opened #144 "Better support for non-OTP compilers"
Sparked by the discussion at basho/rebar/pull/347 I thought some more about the best way to support non-OTP compilers (LFE, Joxa, Elixir, abnfc, neotoma, etc.).

The current situation is suboptimal because:
- for ease of use the plugin should be bundled with rebar, or you will have to list the plugin in any project you require it
- bundling all compiler plugins with rebar is not an ideal solution

[2013-10-17 18:03] okeuday opened #159 "update-deps now does not work with pre_hooks"
This is a problem that occurs at (or possibly before) commit ed88055a750736c5c9807ca4da4803ff8a6aef16 .  The update-deps command no longer runs pre_hooks like it did previously (at commit 620c4b01c6e59d47e92ea069f8510b8cb482ebae and afterwards).  An example of this problem is at https://github.com/CloudI/CloudI/tree/develop/examples/hello_world3 .  update-deps is being used here to recompile/insta

[2013-11-21 17:01] colefichter opened #169 "Generated .cmd file always insists on using -sname rather than -name"
I'm not sure if this is a bug or just unclear documentation.  I've generated a node called "dummynode". I want to use long node names (-name) so that I can distribute a cluster across physical machines.

The generated vm.args file contains a section like:

[code]

From the looks of it, you'd think that I could change it to something like

[code]

And have the service started with long names enable

[2013-11-21 21:51] archaelus opened #170 "update-deps dependency conflict"
I frequently want to modify the dependencies of my project (fork and modify them). This is fine for direct dependencies, but seems to cause a problem with `update-deps` if I modify an indirect dependency (a dependency of a dependency in this case (ranch from cowboy)). In order to force this override, I make the dep/dep (ranch) a direct dependency of the top level project. At this point `get-deps`

[2013-11-27 16:17] tuncer opened #178 "Dep infinite loop"
I've noticed a way to make rebar infinite loop while working on #175. See [infinite-dep](https://github.com/tuncer/rebar/compare/master...infinite-dep) for a modified version of #175 to provoke the issue.

**good** `inttest/depplugins/rebar_testplugin.config`:

[code]

**bad** `inttest/depplugins/rebar_testplugin.config`:

[code]

Are we failing to handle a loop? We already have checks in place fo

[2013-11-29 16:11] tuncer opened #180 "retest project"
Should we maintain the retest project in the rebar org?

cc @dizzyd @jaredmorrow

[2013-11-30 23:02] tuncer opened #181 "lock-deps command"
Let's discuss if and how to implement an integrated lock-deps command.

cc @seth @Vagabond @dizzyd @jaredmorrow

[2013-12-01 12:27] tuncer opened #182 "Adapt built-in port_env to support OS X Mavericks or newer"
Someone with access to OS X Mavericks or newer should adapt the built-in [port_env](https://github.com/rebar/rebar/blob/988c9cd574538d279193f548297d80ad3b0a45d0/src/rebar_port_compiler.erl#L579).

cc @jaredmorrow @Vagabond @dizzyd

[2013-12-20 02:41] shino opened #202 "Upgrade script does not work with slim releases yet"
Gleaning issue from #52 .

Upgrading with slim release can be done if we do it **manually**.
1.   unpack relup archive manually
2.   copy `releases` directory and necessary libraries
3.   using release_hander:set_unpacked/2 .

Slim release is a experimental feature of reltool and release_handler does not know
about it at all (at least R16B03). So relup archive includes erts and all libraries in OT

[2014-01-10 22:40] tuncer opened #206 "Differentiate between common and test-only deps"
Currently rebar has no way to differentiate between common and test-only deps ([original mailing list post](http://lists.basho.com/pipermail/rebar_lists.basho.com/2014-January/001995.html)). Let's design how such a distinction could be specified in a project's configuration and/or command line options.

Let's assume we have one of the following ways to express test-only deps.

#### A: Separate 'de

[2014-01-11 19:02] tuncer opened #209 "Composite code path"
rebar currently does not use a composite code path (including sub projects' code paths [deps, sub_dirs]). So, if you expect a transitive dep's `ebin/` to be on the code path when executing commands in `base_dir`, you will be surprised that it's not there. In the current implementation sub projects inherit their parent's code path and extend it. Once a sub project is processed, we restore the origi

[2014-01-21 10:01] tuncer opened #217 "Use a slave node for eunit isolation (reset_after_eunit option)"
Shouldn't we use a [slave node](http://www.erlang.org/doc/man/slave.html) in `rebar_eunit` to have the same effect as spawning `ct_run` in `rebar_ct`? @jaredmorrow @slfritchie, wouldn't that be a cleaner way to isolate test cases or test runs? Most projects won't need this, and the overhead of spawning a vm for each `eunit` run should probably be avoided. So if we were to use slave nodes, it shoul

[2014-03-02 17:32] AeroNotix opened #238 "Rebar passes the wrong filepath to the plugin handlers"
[code]

This is NOT the same as file:get_cwd(), since rebar sets the cwd before calling the plugin cwd is set correctly, but the actual filepath is not. This means that it's useless to receive D or AppFile.

[2014-03-04 09:40] eproxus opened #239 "update-deps is not recursive"
I have the following structure:

[code]

[code]

[code]

All deps commands seems to work great, except `update-deps` which for some reason only uses `apps/rebar.config`.

`rebar.config` has subdirs to `apps` and `apps/rebar.config` has subdirs to all apps in the `apps` directory.

[code]

[2014-03-05 11:13] tuncer opened #240 "Implement real version constraint (sat) solver"
I think it's inevitable to eventually implement a real version constraint (sat) solver (e.g `>= 1.2.* && < 1.7.*`). The various require_*_vsn options and version strings in dependency specs do not cover all real world use cases. @thijsterlouw submitted a patch to implement semver vsn checking. Would that be universal enough, or would it limit what constraints are supported?

See #163 #222 basho/re

[2014-03-05 12:56] rlipscombe opened #241 "rebar ct doesn't use app.config appropriately"
In rebar_ct.erl, make_cmd/3 creates a command line containing "-config app.config -ct_config test.config".

Since this change:

https://github.com/rebar/rebar/commit/9cf7cf7cb06e0f2546b3cd37be0a9f8566312fc4#diff-8fa99bb3b871b413798c098ae723a998R195

...this no longer works as expected: ct_run converts -config into -ct_config; this means that there doesn't appear to be a way to provide an app confi

[2014-03-10 19:53] kaos opened #247 "rebar eunit doesn't compile .yrl files"
Hi,

Either I'm missing something, or the eunit command fails to compile .yrl files when running the test suite.

When running `rebar eunit` on a clean project (i.e. no previously built beam files around), it fails due to a missing beam file that should've come from compiling a .yrl file (https://travis-ci.org/erlydtl/erlydtl/jobs/20463110).

[2014-04-04 06:39] lispking opened #256 "Add 'svn url' command"
diff --git a/src/rebar_deps.erl b/src/rebar_deps.erl
index 5e69709..492079a 100644
--- a/src/rebar_deps.erl
+++ b/src/rebar_deps.erl
@@ -514,6 +514,11 @@ download_source(AppDir, {bzr, Url, Rev}) ->
     rebar_utils:sh(?FMT("bzr branch -r ~s ~s ~s",
                         [Rev, Url, filename:basename(AppDir)]),
                    [{cd, filename:dirname(AppDir)}]);
+download_source(AppDir, {svn,

[2014-04-09 01:27] fenollp opened #259 "rebar does not work if folder is not version controled"
## Reproduce
- `git clone git@github.com:erlydtl/erlydtl.git erlydtl.git`, for instance.
- `cd erlydtl.git && make` -- this will **work**, however…
- `rm -rf .git && make` -- this will **fail**.
## Error displayed

[code]
## Cause

It seems that a call to `vcs_vsn_invoke/2` fails. Apparently rebar calls https://github.com/rebar/rebar/blob/master/src/rebar_utils.erl#L480 even if no `.git` directory

[2014-04-09 20:59] robertoaloi opened #261 "Plugins, Environments and Duplicates"
The `rebar_core:setup_envs/2` function can lead by design to multiple entries in the environment.

To circumvent part of the problem, in #98 the `rebar_port_compiler` plugin is prevented from emitting the same environment variables emitted by `rebar_deps`, to avoid duplicates. This looks to me like a palliative and not like a definitive solution, since it requires a plugin to have too much informa

[2014-04-11 14:52] davidw opened #264 "recursively check git status"
I've occasionally had it happen that I don't know which of my deps/ I've done work in (it's convenient to work there directly when hacking away).  This escript solves that.  It'd be nice if something similar were to find its way into rebar.  I'd be happy to try and put it together

[code]

I'm sure it could be improved on.

[2014-05-26 11:06] maximvl opened #282 "generate-appups fails with {badmatch,[]}"
I'm trying to run generate-appups, and for some reason rebar cant find previous release .rel file:

[code]

According to https://github.com/basho/rebar/blob/develop/src/rebar_rel_utils.erl#L108 there is no file `mysystem_rel.rel` in `rel/mysystem_rel/releases/*/`. But it exists.
It would be nice to have a formatted error message about what file and path rebar expected to find.

[2014-05-27 00:06] talentdeficit opened #283 "Add sugar for `rebar -C rebar.foo.config`"
i'd like to contribute some changes that provide sugar for using an alternate config file. something like:

[code]
or
[code]

would such a feature (possibly with different syntax, i'm not married to either form) be well received?

[2014-05-28 09:26] benbro opened #286 "Document template_dir command line option"
The template_dir command line option is missing from docs
https://github.com/rebar/rebar/wiki/Rebar-commands
https://github.com/rebar/rebar/wiki/Template-support

Thanks

[2014-05-30 12:59] tommyvn opened #291 "Release handling example isn't working"
I'm running Erlang 17 installed from the apt repo supplied by erlang-solutions.
I've followed https://github.com/rebar/rebar/wiki/Release-handling to the letter.
In doing so I've experienced two problems.

The first is as follows:

[code]

I tracked this down to the fact that there's a link to man pages in the erlang directory which rebar seems to be looping thru. One of the zsh man pages on my la

[2014-06-15 14:21] AeroNotix opened #297 "Add support for comparison operators in version numbers"
Hi,

Re-opening after the great heroku-ing of 2014.

When specifying the version number it would be great to be able to have it work like : `{tag, gt, "0.9.0"}` which would be greater than 0.9.0.

Obviously this only works for a subset of values which people stupidly put there but if we set a precedent to show the usefulness of having version numbers orderable then we'll be happy :)

[2014-06-15 20:06] ferd opened #298 "EUnit App Env cleanup is incomplete"
As reported in https://github.com/rebar/rebar/pull/216 (for which the solution no longer appears to be adequate)
- We should reuse the test case in https://github.com/rebar/rebar/commit/4935d8124471b4a7423d77461b4058f65cad3b3f while giving credit to @ghost (ideally through pulling that one commit in)
- We should probably add something checking the new [`application:set_env/4`](http://www.erlang.or

[2014-06-18 16:14] AeroNotix opened #301 "Build open-source projects as part of the CI test suite."
I've noticed that rebar master occasionally breaks with various projects in isolation, whilst the unit tests for rebar itself may pass.

A solution:

Build well-known/tricky/whacky/non-standard/odd projects as part of the CI. Known-good commits should be pinned and these should be built by rebar as part of the CI test suite.

What this gives us:

A set of known-good configurations and real-world p

[2014-06-25 16:29] tuncer opened #306 "escriptize stand-alone windows escript archive support"
As suggested by @dch [here](https://github.com/rebar/rebar/issues/250#issue-29713865), `rebar escriptize` should support creating stand-alone archives that work on Windows.

Since I merged the code in `bootstrap` with `src/rebar_escriptize.erl` and made `bootstrap` reuse `rebar escriptize`, we have to only modify `rebar_escriptize.erl`.

**Question**: If you run `rebar escriptize` on Windows, shou

[2014-06-30 06:05] zkessin opened #312 "Unify code coverage between QuickCheck and Eunit"
When working on a project that has both Eunit and QuickCheck tests rebar can provide coverage info for both types of tests, but not together. so there is no easy way to check if a line is covered by the union of both tests

[2014-07-01 19:27] sagungargs opened #313 "''generate-upgrade'' command does not apply to directory"
After using the command

[code]

I am just falling short of one stage before the upgrade '.tar.gz' in 'rel' gets created

Found these links online, but still could not resolve much after consulting and experimenting from them
1) http://lists.basho.com/pipermail/rebar_lists.basho.com/2012-January/001290.html
2) http://www.metabrew.com/article/erlang-rebar-tutorial-generating-releases-upgrades

[2014-07-09 14:41] tuncer opened #318 "[minor|enhancement] Avoid GNU make syntax"
It'd be great to avoid GNU make syntax in rebar's Makefile.

For example

[code]

uses GNU make syntax and can be rewritten as follows:

[code]

Less trivial example:

[code]

Windows portability has to be checked.

[2014-07-13 19:39] tuncer opened #323 "Potential bug: prepare-deps in howistart/erlang1"
There might be a problem in the metacmd implementation as reported by @ferd in howistart/howistart#5.

Follow the guide (http://howistart.org/posts/erlang/1) and use @ferd's demo project (https://github.com/ferd/howistart-erlang1-code) to check if and why replacing `rebar get-deps compile` with `rebar prepare-deps` in the guide does not work.

[2014-07-14 22:19] UglyTroLL opened #324 "There is no way to pick up protobuf files and compile them other than 'src/*.proto'"
Currently, there is no way to pick up and compile the proto files other than 'src/*.proto', while we can do it (specify the 'import path') in the erlang protobuffs compiler by specifying the 'imports_dir' arg (https://github.com/basho/erlang_protobuffs/blob/develop/src/protobuffs_compile.erl#L70), but rebar doesn't pick it up.

I've already created a pull request for this: https://github.com/rebar

[2014-07-15 08:58] pkathmann88 opened #325 "absolute Paths in RELEASES-File"
The File rel/$relname/releases/RELEASES currently contains absolute paths to the original release-directory. If I copy the release to another destination and keep the orignal generated directory, the apps from the original /rel/$relname/releases/lib directory are used instead of the libs contained in the release folder. Is this behaviour desired or is this a bug?

If this is a bug, I would be glad

[2014-07-17 21:02] tuncer opened #329 "rebar eunit suites=rebar_otp_release does not work as expected"
What happens:

[code]

I was expecting for the above command to work the same as `rebar eunit suites=rebar_otp_release_tests`:

[code]

It works for another test suite:

[code]

`rebar_otp_release_tests` defines a single test function, but even if I rewrite it to define a `_test_/0` function, `suites=rebar_otp_release` doesn't work.

[2014-07-30 22:03] linearregression opened #334 "reltool.config release number does not honour that in app.src or .app file"
blarblar is compiled successfully and generated a .app file with version number "2.0.0" for vsn.  The vsn is generate by using  rebar able to pick up git tag.
app.src  is {vsn, git}
This number is the same for .app file under ebin under src.
However, when using rebar create-node nodeid=blarblarbalr
reltool.config shows that
rel is "1" which is not the same as 2.0.0
I even tried hard coded vsn numb

[2014-08-15 15:19] vladdu opened #343 "rebar:run/2 assumes being an escript"
Loading the configuration checks for the escript name (see below), but that crashes when not an escript and `init:get_plain_arguments/0` returns `[]`. I would wrap it tn a try...catch, but then what happens when rebar tries to locate resources? What value would make it work with a non-escript install?

I assume that since there is a beginning of an API, the goal is to have it work embedded.

[code

[2014-08-18 22:20] cjimison opened #346 "Common test no longer working"
Hey all,

This is just a question.

I just upgraded to the latest version of rebar and when I run my common tests I get the following error.

Command 'ct' not understood or not applicable

my project struct

./rebar
./rebar.config
./apps/app_1
./apps/app_2

Not really sure what the issue is here and any help would be greatly appreciated.  My expectation is I am doing something wrong or deprecated.

[2014-08-20 11:14] tuncer opened #347 "[RFC] Rethink sub project handling"
We have to rethink how sub projects are handled. Specifically, scenarios like the one noted [here](https://github.com/rebar/rebar/issues/346#issuecomment-52566512) are not user friendly, but I'm not aware of a solution that wouldn't break a use case.
- detect and special case well known project structures?
- restructure sub project handling completely?

[2014-08-20 12:05] cfra opened #348 "port_compiler: does the current is_expandable logic really make sense?"
The current `is_expandable` logic in `port_compiler` judges any variable that has a default definition containing other variables as expandable. At least to me, that behavior is a bit confusing. Take for example the following default definition for `ERL_LDFLAGS`:

[code]

No  matter what I export for `ERL_LDFLAGS` when calling rebar, it will always be overridden by the default definition because `

[2014-08-20 21:10] choptastic opened #350 "Rebar 2.5.1 crashes with a reltool-generated release on Erlang 17+"
It seems that with a reltool generated release, rebar will crash when checking the OTP version due to the version change.  Version 2.5.0 works okay (the commit that breaks it is this: https://github.com/rebar/rebar/commit/873d236ce9b4b88d46c4bb1c6868df70363e8a57)

It crashes on this line: https://github.com/rebar/rebar/blob/master/src/rebar_utils.erl#L391 because the generated release doesn't incl

[2014-09-06 23:39] kejv opened #357 "Parse transform in rebar config doesn't work"
First, let me present a motivation for having a parse transform in rebar config file. In our company we slowly start adapting to erlang r17 and we have to solve an issue which I guess almost eveybody has to deal with: backwards incompatible change of dict(), set(), etc. types. Approach taken here in rebar project isn't an option for us since we use those types in many modules and also don't want t

[2014-09-09 12:14] expelledboy opened #358 "Compile rebar with plugins instead of each project depending on them"
It does not make sense for a project that uses rebar to have a dependency on a rebar plugin. A dependency in my mind is one that is required for the code to function. If I have a plugin that informs Jira of my activity on repo changes I dont see why a project to scrape the web "requires" that functionality to be deployed in order to function.

I propose that plugins are built and deployed as part

[2014-09-09 12:28] expelledboy opened #359 "Cached dependencies"
We are in the process of migrating to rebar from our custom build scripts. One feature which is difficult to let go (mostly from our IT department) is dependency caching.

We have 5 project. which make use of 30 dependencies, hosted outside of our local network. For each build of these projects we checkout the repositories from scratch, even though the repository can be sourced from local checkout

[2014-09-24 09:12] benoitc opened #364 "provide command line settings to get informations about the Erlang installation"
It would be useful to have a setting in rebar that would allows to retrieve some information from the erlang installation like the lib dir, version, arch, ....

Such informations could be use in a Makefile for some custom builds.

[2014-10-15 16:12] platinumthinker opened #369 "Slow update-deps"
Rebar slow run 'update-deps' command in large project. I see in debug output - app dependency in few apps repeat evalate..

[2014-10-23 19:19] tuncer opened #374 "Windows continuous integration"
It'd be great to make use of http://www.appveyor.com for Windows continuous integration.

If the project admins create a rebar account at appveyor and link to it in the repo settings, I can take a look at adding the needed build+test config.

[2014-10-24 03:00] platinumthinker opened #377 "Hook on complete processed project"
I change my app.src with parse transform when i compile .erl files. Rebar transform app.src to .app. I need hooks on finish compile

[2014-10-29 10:07] platinumthinker opened #379 "run common tests in deps"
Structure my project:
src:
- app.erl
- app.app.src
  deps:
  - lib1:
    - src
    - test
  - lib2:
    - src
    - test

How can i run ct for deps? Unit tests evalate for deps, but ct don't work recursive

[2014-11-02 10:26] ahawkins opened #381 "Inconsistent behavior inside docker"
Hello everyone. My first time using rebar resulted in me stumbling upon a bug. In short, `rebar eunit` may or may not exit completely. In some cases it hangs after copying the src files into `.eunit`. Unfortunately this does not happen 100% off the time. It only happens occasionally. You can find the source for building the troublesome image at: https://github.com/ahawkins/docker-rebar-bug. I've a

[2014-11-03 13:19] yizhenfei opened #383 "use "get" instead of "get_local" when determine which protobuf compiler to use"
Hello all,

When select the protobuf compiler, rebar uses the get_local api:

Key = rebar_config:get_local(Config, proto_compiler, Default),

So, for every subdirs which uses protobufs, there has to be an explict {proto_compiler, gpb} in rebar.config.
I think for most projects, there will only be one proto compiler in use.
Maybe it's better to use "get" instead of "get_local", so that a {proto_com

[2014-11-03 13:23] lrascao opened #384 "gpb plugin check last modification not working correctly in specific case"
when using PR #203 (@tuncer @tomas-abrahamsson @tsloughter @ferd) in my project that makes use of it (git@github.com:lrascao/erlang-srv-stub.git) i have an issue with the build using rebar. in this scenario i have a src/builtin.proto and src/builtin.erl, in rebar.config i define a module_name_suffix so that the generated file will not clash with the already present one, however this tricks rebar_b

[2014-11-12 12:18] Taddic opened #388 "Dependency warning, does not recognize app dir"
I get the following warning when trying to pull down dependencies.
WARN:  Expected /home/tommy/git/ODDA-the-game/lib/yaws to be an app dir (containing ebin/*.app), but no .app found.
WARN:  Expected /home/tommy/git/ODDA-the-game/lib/jiffy to be an app dir (containing ebin/*.app), but no .app found.

I've searched online extensively, including various blogs and stackoverflow and only found a single

[2014-11-15 14:25] joedevivo opened #389 "No matter what you set src_dirs to, ".app.src" has to be in ./src to compile"
I had assumed that if I gave a `rebar.config` like so:

[code]

that rebar would behave as usual if my whole erlang portion of the project lived in `./src/main/erlang`. Rebar was unable to compile anything until I moved my app's .app.src fine directly into `./src`.

[2014-11-18 06:37] YangXin opened #391 "wiki release handling casues #253 problem again"
I recompiled rebar from master but I got this message "'generate'command does not apply to directory"

[2014-11-25 13:57] tuscland opened #396 "Rebar warnings when referencing project-local dependencies"
Hello,

I have a project containing a master `rebar.config` file, an `apps` dir with a few applications we write, and a `deps` containing the shared dependencies.

Our "apps" are also dependent on each other.

Here is a basic file system illustrating our layout:

[code]

We noticed that dependencies were not satisfied in the right order if we did not specified the "local apps" in `rebar.config`, w

[2014-12-11 09:30] guobosheng opened #407 "Why can't I just put a symlink into deps?"
When compile, I get "Skipping non-existent sub-dir:xxx"

[2014-12-25 07:07] jiangtiqiang opened #414 "after generate," can't find run_erl " in windows, who can save me???"
I use rebar to build a otp application,but when I generate success,  I run rebarapp start ,I got a error :  ..../erts-6.0/bin/run_erl:No such file or directory, can you give some help? thank you...

[2014-12-29 12:22] Slavenin opened #415 "Rebar generate not work if erlang compile manualy (Ubuntu)"
I`am clone erlang from github and compile it. In my erlang folder in lib directory no version erlang library. Only simpe name (asn, common_test, ... reltool (not reltool-0.6.6) etc).  If i run
[code]
i see error:
[code]

Sorry for my english.

[2014-12-29 16:13] josephDunne opened #416 "Cannot specify a different include dir for snmpc using mib_opts in rebar.config"
I have a scenario where I wish to compile a MIB in my project which depends on a MIB in a dependency. I set my rebar.config mib_opts to:
[code]
but snmpc fails to to find the the include dir. SNMPC only uses the first include directive which in the case of rebar is `{i, ["priv/mibs"]}`. I propose that mib_opts is given priority by putting them first in the list of options passed to `snmpc:compile`

[2015-01-01 08:02] #415 closed

[2015-01-01 13:44] tuncer commented on #415
@Slavenin does #418 work for you?

[2015-01-04 10:55] Prots opened #422 "ct_extra_params doesn't work with Mac OS 10.10"
Hi to all!

I can't run normally my common test because rebar doesn't recognize app.config file in ct_extra_params tuple.
{ct_extra_params, "-pa deps/*/ebin -s app_name -config app.config"}.

When I try to run this CT on Linux - it works!

Now I was copied app.config to test directory and start application in function init_per_suite/1 and CT run normally, but it's bad practice - support two config

[2015-01-04 11:39] tuncer commented on #422
I don't have access to OS X. @ferd, any idea? Could it be the glob?

[2015-01-05 15:40] ferd commented on #422
I can try it if I get an access to a similar repo. @Prots do you have any open source code to simulate this, or would I have to reimplement dummy suites and apps for this?

Have you also tried `-config app` instead of `-config app.config` ? Erlang's `erl` appears to do some dynamic matching where it picks whether to add or not the trailing `.config`, but maybe this is being lost in CT.

[2015-01-06 15:15] thorntonrose opened #423 "Other dependency repositories"
Does Rebar support any dependency repositories besides Mercurial, Git, and Bazaar?

[2015-01-08 17:03] seriyps commented on #133
Hi.

This issue is still actual and can be reproduced by just following https://github.com/rebar/rebar/wiki/Upgrades up to (not including) "Deploying with release_handler" and running instead
[code]

The key pre-requisite is vm.args file should contain `-name <name>@<host>`, not `-sname <name>`!

So, steps are:

* vm.args file should contain `-name <name>@<host>`, not `-sname <name>`
* `./bin/<nam

[2015-01-08 17:21] ferd commented on #133
The thing could probably use a proper shortname if it used something like `dummy_upgrader21087@localhost` instead of `127.0.0.1`, which is a FQDN and requires long names.

[2015-01-08 19:04] seriyps commented on #133
@ferd I think upgrade functionality from https://github.com/rebar/rebar/blob/master/priv/templates/simplenode.install_upgrade.escript should be moved to https://github.com/rebar/rebar/blob/master/priv/templates/simplenode.nodetool , which already supports `-name` / `-sname` and other options.

[2015-01-09 19:54] tuncer commented on #415
Fixed in #418.

[2015-01-10 10:09] Prots commented on #422
Guys, the problem was solved. The next string works:
{ct_extra_params, "-erl_args -pa deps/*/ebin -config app.config -s app_name"}.

As I understand, CT think that I got him name of his config file, not app config.

[2015-01-10 14:31] seriyps commented on #133
@ferd I'll make a pull-request, which moves hot upgrade functionality to nodetool

[2015-01-10 14:42] tsloughter commented on #133
@seriyps you may want to instead look at the relx templates that have gone through a lot of improvements https://github.com/erlware/relx/tree/master/priv/templates

[2015-01-10 15:50] seriyps commented on #133
@tsloughter yeah, interesting. I think I first just copy current functionality (to fix bug) and, next, maybe apply relx improevements of install_upgrade.escript

P.S.: relx install_upgrade.escript has the same bug, but it forces longnames, while rebar forces shortnames!

[2015-01-10 16:28] seriyps commented on #133
So, #426

[2015-01-10 17:31] seriyps opened #427 "Hot-upgraded release doesn't install 'nodetool' file by default."
[runner script](https://github.com/rebar/rebar/blob/3288afa5c1045a5ca1ec53030533645938a45778/priv/templates/simplenode.runner#L138-L147) looks for [nodetool](https://github.com/rebar/rebar/blob/3288afa5c1045a5ca1ec53030533645938a45778/priv/templates/simplenode.nodetool) in paths `erts-${erts-ver}/bin/nodetool` and `releases/${current-release-ver}/nodetool`.

Default [reltool.config](https://github

[2015-01-10 22:17] tuncer commented on #133
@seriyps wrote:

Good idea!

[2015-01-10 22:19] tuncer commented on #427
Solution (2) sounds like the better idea. @ferd, what do you think?

[2015-01-12 13:45] ferd commented on #427
Variant 2 sounds like an easy fix that will be imperfect, but I can't think of breakage that could hit people in production if they do generate their releases to deploy stuff and whatnot. I'd be fine going with it.

[2015-01-12 14:06] tuncer commented on #427
Currently nodetool exists in the erts-x.y sub dir, and we already have things like `to_erl`, `${name}` (runner escript), `erl`, `escript`, etc. in `bin/`. That's why (2) sounds like a good idea to me.

Is your concern that each release should use its own version of the (e)scripts for better compatibility?

[2015-01-12 14:19] ferd commented on #427
No, it was a lingering feeling I'm ready to let go of. Let's try (2) then.

[2015-01-12 14:52] seriyps commented on #427
I think (2) is better too, because `nodetool` is used mostly from runner script `bin/${name}`, so, why not put them together.

[2015-01-12 23:20] norton opened #429 "rebar doesn't respect the order of erl_first_files given in the rebar.conf file"
The problem is that the sorted order of AllErlFiles does not match with the order of ErlFirstFilesConf. The order of ErlFirstFilesConf is specified by the user. The order of AllErlFiles determines the order of ErlFirstFiles.

Please review this snippet of code (https://github.com/rebar/rebar/blob/master/src/rebar_erlc_compiler.erl#L309-L313) to check my reasoning.  Git blame seems to point to this

[2015-01-13 04:22] nevar commented on #429
Hi.
While fixing problem with "compile non exist file" break "compile order" =(
I will look at this issue.

[2015-01-13 04:48] norton commented on #429
Great! Thank you.

[2015-01-14 14:24] tuncer commented on #374
ping?

[2015-01-14 14:42] tuncer commented on #429
Thanks, @nevar.

[2015-01-14 16:04] sstrigler opened #431 "extend documentation to mention '{recursive_cmds, []}' as config option"
Commands like 'eunit' or 'clean' don't act recursive anymore since the built-in recursive_cmds doesn't include these. Please mention the '-r' option somewhere and also how to readd those commands to rebar.config by using the recursive_cmds option in order to retain the old behaviour for example.

[2015-01-14 19:22] tuncer commented on #431
Fixed in #432.

[2015-01-14 19:44] ferd commented on #374
I checked it, and to sync it with github, it wants to have read access to a bunch of stuff in my accounts and organization. It turns out one of my organizations is my workplace, and I'm not willing to open up github permissions to that.

[2015-01-14 19:55] tuncer commented on #374
Is creating a `rebar-win-ci` user an option?

[2015-01-14 19:59] #431 closed

[2015-01-14 20:00] ferd commented on #374
I know I personally won't have the required permissions to promote it as a maintainer of the org or whatever.

[2015-01-15 05:20] nevar commented on #429
@norton you can try https://github.com/nevar/rebar/tree/erlc_order for fix.
I need add test before do PR.

[2015-01-16 04:09] norton commented on #429
Yes, it works fine.  Thank you.

[code]

[2015-01-17 05:19] nevar commented on #429
@norton If you have time you can add test and make PR.
I haven't time until next week.

[2015-01-17 14:42] norton commented on #429
I'm in the same situation.  If I have time, I will check into the existing unit tests to see how/where it should be added.

[2015-01-17 18:39] paulo-ferraz-oliveira opened #435 "ERROR: xref failed with exception rebar_abort"
Hi

While executing rebar xref on a project, I get...
ERROR: xref failed while processing ...: rebar_abort
even though the "only" problem seems to be that I'm using a lib (for protocol buffers) where not all of its exports are being used (that function is not generated by our code, but by an external tool).

I looked at the code (rebar_xref.erl) and (as it stands) on line 63 it is instructed to fa

[2015-01-19 00:05] tonyrog opened #436 "cross compilation, again."
What about adding REBAR_ARCH (or similar) where you can alter the system architecture.
I have tried something like:

REBAR_ARCH=arm-linux-gnueabi CC=arm-linux-gnueabi-gcc rebar compile

In this case I changed rebar_utils:get_arch to check for arm and return "32". I did also match x86_64, i386, i686 and so on. The fallback is REBAR_ARCH_WORDSIZE. This would also affects rebar_util:wordsize()

I hav

[2015-01-19 10:17] tonyrog commented on #436
REBAR_TARGET could be an other name. Then using that to setup all the CC,LD,AR (binutils) program macros would be great. Maybe default CC=${REBAR_TARGET}-gcc when REBAR_TARGET is set.

[2015-01-19 11:09] tuncer commented on #436
This seems useful, and I've usually seen an option named `target` when configuring cross compilation. That said, since rebar is not primarily concerned with building C code, the name `REBAR_TARGET` is likely too unspecific. Maybe `REBAR_ARCH_TARGET`? To be clear, this would override the `erlang:system_info(system_architecture)` part of `rebar_utils:get_arch/0`, right?
cc @ferd @liskin

[2015-01-19 11:10] tuncer commented on #436
Or is it better to name it `REBAR_SYSTEM_ARCHITECTURE` to follow `erlang:system_info(system_architecture)`? I think `REBAR_ARCH_TARGET` is fine and more similar to other build systems.

[2015-01-19 14:48] ferd commented on #436
I frankly barely ever compile C code and never had the need to cross-compile. I'm not the best person to handle this feature or assess its design. I'm ready to listen to the opinions of more experienced people in that area.

[2015-01-19 23:50] tonyrog commented on #436
Ok, I will try REBAR_ARCH_TARGET and REBAR_ARCH_WORDSIZE for now. I tend to do (too) much C code with nifs and drivers, interfacing hardware, so I am in a real need of improving this.

[2015-01-20 13:10] tuncer commented on #436
@tonyrog so you're going to submit a patch, right?

[2015-01-20 13:16] tonyrog commented on #436
Yes :-)
I have updated get_arch / wordsize / default_env and it looks nice. I Successfully cross compile epx (Erlang pixels) for Samsung Gear :-)

[2015-01-20 13:41] tuncer commented on #436
Great!

[2015-01-20 17:43] #133 closed

[2015-01-21 10:52] AnakinSong opened #438 "+K argument in vm.args doesn't work, Help"
When I use rebar generate to package , and add "+K true" to vm.args ,start application ,but the argument doesn't work.  When I watch the process in terminal, "+K true " in vm.args become "-K true". Why?

[2015-01-21 21:09] tuncer commented on #438
Why do you think it doesn't work? If what you're seeing is the following, then it's normal behavior, and does not mean kernel-poll is disabled:
[code]

[2015-01-21 21:11] tuncer commented on #414
@jiangtiqiang if you can provide more information, we might be able integrate the changes into the templates. In fact, as you have access to Windows, would you like to submit a patch?

[2015-01-21 21:12] tuncer commented on #414
@jiangtiqiang if you can provide more information, we might be able integrate the required changes. Actually, as you have access to Windows, would you like to submit a patch?

[2015-01-21 21:14] tuncer commented on #423
Yes it does:
[code]

[2015-01-22 02:52] AnakinSong commented on #438
But when connect vm using remote_console , I see "kernel-poll:false"

[2015-01-22 11:17] tuncer commented on #438
What does the VM (same executable) welcome header say if you run `erl +Ktrue` interactively on the same host?

[2015-01-22 11:27] AnakinSong commented on #438
kernel-poll:true . system  is ubuntu server 12.04

[2015-01-22 13:37] tuncer commented on #438
I've successfully created a demo release with a dummy app and `+K true` in vm.args:
[code]

Can you share `rel/reltool.config` and `rel/files/*` or more information?

[2015-01-22 15:45] #423 closed

[2015-01-22 15:48] ferd commented on #438
The information you see with the remote_console is the information of the remote console, not the system you connect to.

It's printed that way because the node boots locally, but spawns its evaluator on the remote node. Not a bug.

[2015-01-22 15:48] #438 closed

[2015-01-24 20:29] tuncer commented on #388
It's a bug, @ferd can you assign this to me? I'll fix it asap, after verifying my theory.

[2015-01-25 23:01] tuncer commented on #388
See #444 for a fix.

[2015-01-27 14:11] tuncer commented on #388
Fixed in master (59d1d0c).

[2015-01-27 14:13] #388 closed

[2015-01-28 09:24] lrascao opened #446 ".appup.src files copied to ebin"
Currently .app.src files are validated and copied to ebin as .app files, this makes sense because tipically .app.src files are under source control but need to be copied to ebin upon build. The same should apply to .appup.src files, rebar generate-appups helps by generating a first draft of the file, however most of the times we require fine tuning of the appup procedure over time so it's helpful

[2015-01-31 05:47] norton commented on #429
See #445

[2015-01-31 05:47] #429 closed

[2015-01-31 18:46] tuncer commented on #446
Generally speaking, this sounds like a useful feature to me.

[2015-02-02 16:06] ferd commented on #446
Yeah, agreed.

[2015-02-02 19:26] mattiasw2 opened #448 "A special version of rebar needed to compile YAWS"
I wanted use YAWS in embedded mode. However, the late release (rebar 2.5.1 17 20150118_115522 git 2.5.1-102-g25aca7e) of rebar failed to compile it. However, an older version (rebar 2.5.1 R14B04 20141216_212600 git 2.5.1-57-gb79606) can do it. More info in

http://stackoverflow.com/questions/11876263/yaws-as-rebar-dependency/11883926#comment44414815_11883926

[2015-02-02 20:14] mattiasw2 commented on #448
Fixed in latest release. Tested now, and it works

[2015-02-02 20:14] #448 closed

[2015-02-05 23:04] bb4242 opened #450 "Problems with pre/post hooks on Windows/cygwin"
pre/post hooks do not appear to behave as expected in many cases on Windows/cygwin.  For example, see tomas-abrahamsson/gpb#31.  In that case, there is a pre hook configuration as follows:
[code]
Trying to compile this project from a cygwin shell results in:
[code]
However, attempting to manually run the hook from the shell works fine (the command succeeds and generates the intended gpb_version.hr

[2015-02-06 10:06] define-null commented on #240
Do I understand you correctly, that this feature will never be implemented in rebar and version constraints checking is not in your plans?

[2015-02-06 13:34] ferd commented on #240
This could be attempted, but frankly I won't be the one to put time into it. An alternative approach (using distance from the root rather than versions) has been chosen for rebar3, which is where @tsloughter and others have been spending time trying to fix these things.

[2015-02-06 14:09] tsloughter commented on #240
And there is no way without a package index would a sat solver work. Certainly not something that could be implemented on top of rebar2 without also adding support for some package repository.

So, safe to say rebar2 will never have a depsolver :)

[2015-02-09 12:04] define-null commented on #240
If anyone is interested in vsn checking, i created small plugin for rebar (https://github.com/define-null/rebar_version_checker), to solve this task. It's can be still not mature enough, so any feedback is welcomed.

Ideas borrowed both from this thread and https://github.com/basho/rebar/pull/262

[2015-02-10 03:25] jinuljt commented on #291
rm /usr/lib/erlang/man/man1/zsh5.1.gz

and it works

[2015-02-12 13:13] tuncer commented on #240
@define-null, thanks for sharing. While this ticket is about a solver for constraints like `>= 1.2.* && < 1.7.*`, a simple solver for only `>= 1.2.*` seems like an improvement over the vsn regexes we have now. So, if this is what users want, and you submit a pull request. I don't mind integrating it as an alternative to regexes.

[2015-02-12 13:14] tuncer commented on #240
@define-null, thanks for sharing. While this ticket is about a solver for constraints like `>= 1.2.* && < 1.7.*`, a simple solver for only `>= 1.2.*` seems like an improvement over the vsn regexes we have now. So, if this is what users want, and you submit a pull request, I would like for that to be integrated as an alternative to regexes.

[2015-02-12 13:22] tuncer commented on #291
@jinuljt I don't know why zsh5.1.gz would end up in erlang's private man1 dir. I'd suggest to ask on erlang-questions@erlang.org (or erlang-bugs@erlang.org) whether the issue is in erlang's Makefiles.

[2015-02-12 13:25] tuncer commented on #291
@jinuljt I don't know why zsh5.1.gz would end up in erlang's private man1 dir. I'd suggest to ask on erlang-questions@erlang.org (or erlang-bugs@erlang.org) whether the issue is in erlang's Makefiles.

Just a guess, but is `/usr/lib/erlang/man` a symlink to `/usr/share/man`?

[2015-02-12 13:29] tuncer commented on #450
I don't have access to a Windows env, but if you're willing to do some experiments, we could try to come up with stuff to test on Windows.

[2015-02-12 13:29] tuncer commented on #450
cc @tomas-abrahamsson

[2015-02-12 14:52] define-null commented on #240
Well, `>= 1.2.* && < 1.7.*` constrain can be written in terms of the plugin as `[">= 1.2.0", "< 1.7.0"]`.
Don't know whether * should be allowed, or for example an option to exclude some intervals of versions..  i really don't think full regexp support if good for solving this tasks.

As for the pullrequest the plugin solve our compani's needs now, and separate section for version checking seems t

[2015-02-12 16:35] tuncer commented on #240
@define-null, sounds good, and what about `||`?

`1.2.*` should mean the same as `1.2`, but I wouldn't mind not support `*`.

Also, of course the question remains what to compare against (index, vcs tags, ...). How do you use it at your company?

[2015-02-12 16:59] tuncer commented on #240
Just to be clear, like I suggested in @psyeugenic's gears thread on erlang-questions, a proper solution requires integration in erts, stdlib, and kernel, in order to fully support this in apps and releases. Still, that doesn't mean a simple enhancement in rebar won't be useful.

[2015-02-13 01:48] bb4242 commented on #450
I'm happy to help run some experiments to gather data that would be useful in debugging this. :)

[2015-02-13 12:45] define-null commented on #240
@tuncer yes, plugin can be extended to use `||` and also '(' ')', but I also faced with the fact that 'git' tag versioning in rebar is not compatible with semver at all, and extra work should be done to treat 'git' tag in the other way. ( for example 0.6.0-5-g0c95039 < 0.6.0 in semver but in case of 'git' tag in rebar it means that 5 commits were created after 0.6.0 tag, so 0.6.0-5-g0c95039 should

[2015-02-13 22:25] tomas-abrahamsson commented on #450
I don't think I've got a windows + cygwin setup either, so I'm just guessing for things to try:

* change `build/mk_version_hrl` to `build\\mk_version_hrl` (ie slash to backslash, since this is the directory separator on windows, plus one more backslash to escape it)
* change `build/mk_version_hrl` to `./build/mk_version_hrl` (ie prepend with `./`  I don't really think this will help -- and if it

[2015-02-14 09:28] tuncer commented on #240
That's not a tag, so it doesn't have to be supported. Tags are created explicitly.

[2015-02-14 09:54] nox commented on #240
And note that with this change, this version would still not be greater than 0.6.0 because build metadata isn't taken into consideration when comparing versions in semver.

[2015-02-14 22:37] define-null commented on #240
@nox yeah, i know, but how to name the dev version after 0.6.0 which does not have breaking changes in semver without extra version?  It's ok for me that 0.6.0+build.5.g0c95039 at least not smaller then 0.6.0, better then nothing..

@tuncer sorry for my poor english, by the "git tag" i meant `{vsn, git}` approach in app.src. Of course anyone can use `{vsn, cmd}` instead to define his own versionin

[2015-02-15 11:03] tuncer commented on #240
@define-null wrote:

You don't have to:
1. When the rev is a tag, this will be reflected correctly in your generated `.app`. This is the only scenario where listing tags and trying to solve the vsn constraint against that (because there's no index) will work.
2. If you do not want to depend on a specific tag, you will most likely ask for a branch, and therefore you will be best served with the reg

[2015-02-16 04:52] platinumthinker opened #455 "Jenkins compatible"
Standart jenkins structure projects:
[code]

Rebar don't found workspace dir when unit tests run, but unit tests works if rename
  workspace dir in lib1. I use in test code:
```code:lib_dir(lib1, examples)```
And it's work when name workdirectory equivalent application name

[2015-02-16 05:33] platinumthinker commented on #455
This contrary to OTP principlies. I resolved this specific problem on jenkins: settings in job -> adavanced options -> Use custom workspace and set lib1

[2015-02-16 13:53] ferd commented on #455
So I assume I can close the issue?

[2015-02-16 21:08] bb4242 commented on #450
Neither of those suggestions worked, but appending `sh` to the command line appears to work:
[code]
I'm not sure why that's necessary (`mk_version_hrl` already starts with `#!/bin/sh`, and invoking it that way from the cygwin prompt works fine), but it works.

Making the above fix allow the compilation to succeed, but it subsequently fails on the post_hooks step:
[code]

[2015-02-16 22:38] tomas-abrahamsson commented on #450
Ok, good finding. This makes it possible to work around. It would be nice, of course, if rebar would be able to hide away underlying differences such as these, but for the moment, I'm happy working around it.

(And yes, that horrendous blob of shell text had already out-grown a rebar hook long ago. Moving it to a proper script should have been done long ago.)

(And for those wondering what the fuz

[2015-02-16 22:57] tomas-abrahamsson commented on #450
Clarification: from a gpb perspective, I'm ok with closing this issue, but @bb4242 who opened it originally, might perhaps have something in mind.

[2015-02-16 23:50] bb4242 commented on #450
Thanks to @tomas-abrahamsson, I think we now have a working gpb branch that builds successfully on both cygwin and linux (https://github.com/tomas-abrahamsson/gpb/pull/33).  But there is a subsequent problem once gpb builds on cygwin (please see https://github.com/tomas-abrahamsson/gpb/issues/31#issuecomment-74591605).  Any thoughts on what might be causing that behavior?

[2015-02-17 18:07] bb4242 commented on #450
On further investigation, it looks like rebar does find gpb, but still thinks it needs to compile with protobuffs.  Doing a `rebar compile -vv` in a project that contains proto messages gives:
[code]
The relevant section of rebar.config:
[code]

[2015-02-17 21:04] tomas-abrahamsson commented on #450
Just came to think of this: in case you're running a rather recent rebar, from the master branch within approx couple weeks back, then chances are you're running with #447 in which options common to both protobuf compilers moved in under a common option key: `{proto_opts, [{compiler, gpb}, ...]}` is the new way to specify compiler, see the _rebar.config.sample_. Maybe this is what is happening?

T

[2015-02-17 21:55] bb4242 commented on #450
Ah, that was it!  As it turns out, I was running a slightly newer version of rebar on cygwin as compared to linux, which explains why it built fine on linux but not cygwin.  Thanks for the suggestion - that probably would've taken me a while to track down on my own. ;)  Everything works as expected now, so I'll go ahead and close this.  Thanks again.

[2015-02-17 21:55] #450 closed

[2015-02-17 22:35] tomas-abrahamsson commented on #450
Good to hear!

[2015-02-18 21:29] tuncer commented on #450
@tomas-abrahamsson wrote:

Is this a feature request? If so, can you please file a separate ticket outlining the missing or to-be-changed behavior?

[2015-02-19 15:51] platinumthinker commented on #455
yes

[2015-02-19 17:21] #455 closed

[2015-02-19 21:26] manderson26 opened #457 "Variable expansion in port_env unexpected behavior"
If I pass an expression like: "$PWD/deps/local/lib" in the port env string, it expands to "/deps/local/lib", (expanding to the empty string) but "$PWD something else" expands properly to the contents of $PWD, because there is a space following the variable name. There is a workaround via "${PWD}/deps/local/lib" which expands properly, but that took some time for me to figure out.

The most confusi

[2015-02-19 22:44] tomas-abrahamsson commented on #450
No, at the moment, I do not want to push this forward into a feature request. Maybe some day when I've dug deep enough to understand why it behaves the way it does, I'll revisit it again, but until then, no.

[2015-02-20 18:56] tuncer commented on #457
Thanks, good catch, and please submit a pull request.

[2015-02-25 19:22] #457 closed

[2015-03-02 18:16] c-bik opened #462 "space in erlang installation path"
```rebar_port_compiler:default_env/0``` produces include and lib paths without quotes. ```CL.exe``` fails to compile if erlang is installed at path with spaces (e.g. "Program Files").

Can be fixed in adding quotes erl_interface_dir/1 before return and value of ```ERL_CFLAGS``` and ```ERL_EI_LIBDIR``` etc in ```default_env/0``` (verified).

Is this a valid observation? Can there be any other side

[2015-03-03 08:05] c-bik commented on #462
My bad. This problem exists for basho/rebar only. Wrong repo :)!

[2015-03-03 08:05] #462 closed

[2015-03-03 22:19] lrascao commented on #446
closing, PR's #449 and #461

[2015-03-03 22:19] #446 closed

[2015-03-11 14:56] senturk commented on #350
If anyone still experience this problem:
please upgrade to the current version (today is 17.4).
I was running on 17.0 till today, ran into that problem and updated Erlang release 17.4. Now it is working.

[2015-03-29 00:00] moxford commented on #291
The fix for me was to explicitly ADD

[2015-03-30 14:55] carlosedp opened #468 "Add diameter compilation to "Rebar commands" wiki"
On the Wiki page **Rebar commands**, Diameter dict compilation should be added:

Source|Target|Description
---------|--------|--------------
dia/\*.dia|src/\*.erl <br> include/\*.hrl|Diameter .erl files <br> Diameter .hrl headers

[2015-03-31 16:09] tuncer commented on #468
@ferd, can you edit the page?

[2015-03-31 16:30] ferd commented on #468
Done.

[2015-03-31 16:30] #468 closed

[2015-04-04 19:32] UglyTroLL opened #472 "Is there anyway to turn on the debug/detail log?"
Some of the pre hooks couldn't be exed when compile, I'm trying to figure out why but there is no logs.
Couldn't find anything about the rebar log from the doc either.

[2015-04-05 08:35] UglyTroLL commented on #472
Found it

[2015-04-05 08:35] #472 closed

[2015-04-08 16:42] matwey opened #474 "ct3_rt: Can't set long node name!"
Hi,

Do we really need following code on line 43 in ct3_rt.erl?
[code]

On badly configured hosts (without proper FQDN), this leads to test failure. Maybe this can be dropped or changed to -sname?

[2015-04-08 19:53] tuncer commented on #474
Not strictly required, feel free to submit a patch.

[2015-04-10 10:52] jacktang opened #476 "Beyond template scope variables"
Hi
In rebar (create) template command, we can just set template scope variables. But sometime it is not enough, say some gen_xxx code template we need to add author name, email address and etc.  So I propose three level variables here: 1) global level, the template file is placed in ~/.rebar/global.template 2) OTP node level, the variables are defined in rebar.config 3) template level, and they ar

[2015-04-14 09:30] tuncer commented on #476
cc @ferd

[2015-04-14 12:22] ferd commented on #476
I do believe that currently, rebar 2.x supports variables in a) the template file itself (see [[1](https://github.com/rebar/rebar/blob/master/src/rebar_templater.erl#L149-L150)]), b) in the command level, c) the global level you wanted ([[2](https://github.com/rebar/rebar/blob/master/src/rebar_templater.erl#L170-L184)]).

The global level is supported via the `{template_vars, File}` config value,

[2015-04-16 07:49] jacktang commented on #476
Hi Fred

Thanks for the tips, I will check it later.
I am working on the [dev-console template](https://github.com/jacktang/rebar-templates/blob/master/dev_console.sh) which make erlang/otp app development a bit convenience.
As you know, rebar supports node/app level variables by passing them through command line, But if there are a lot of variables, I think we define them in rebar.config sounds s

[2015-04-17 09:47] jacktang commented on #476
I add some modifications and the commit is [here](https://github.com/jacktang/rebar/commit/fcef74df812a9f6c8fb971686560bb2a5ea261b8). If the patch sounds OK, I can send the pull request.

[2015-04-17 13:34] ferd commented on #476
No. As I said, this is *already* supported.
Add in `{template_vars, "template_vars.config"}` to your rebar.config, then `template_vars.config` can contain data such as:

[code]
And load them up for you.

There is no need for additional commits. I don't think we'll be adding a fourth way to support variables when you already have one that is equivalent there.

[2015-04-17 13:43] ferd commented on #476
To remain consistent with the command line options which point to a file on disk (`rebar template_vars=file.config`), the option in the file should be `{template_vars, "file.config"}`.

We also should make sure that precedence is given to the command-line config, so it can behave as an override to the config file, and also ensure nothing breaks with existing commands.

[2015-04-18 06:16] jacktang commented on #476
Emm, I found the original code would not read "template_vars" option from rebar.config. And I read the rebar_config.erl source code, [get_global/3](https://github.com/rebar/rebar/blob/master/src/rebar_config.erl#L137) function got the value from 'globals' dict while [get/3](https://github.com/rebar/rebar/blob/master/src/rebar_config.erl#L107) or [get_local/3](https://github.com/rebar/rebar/blob/ma

[2015-04-18 12:31] ferd commented on #476
Yeah I was confused, the original option reads it from the command line (`rebar template_vars=file.config`). What I'm saying is that to be uniform, the stuff we read from `rebar.config` should work the same as the stuff we get from the command line -- both should handle a file name.

[2015-04-20 08:22] jacktang commented on #476
Fred, how about extend `template_vars` in rebar.config
[code]

we can define both global and template scope variables in `template_vars` section. As usual, the template scope variable values overwrite the global ones. Meanwhile, `template_vars` can be passed through command line (`rebar template_vars=file.config`) , if it exists, the global variables overwrite the ones defined in `global`.

Is abo

[2015-04-20 12:37] ferd commented on #476
To be uniform, the stuff we read from rebar.config should work the same as the stuff we get from the command line -- both should handle a file name.

I still stand by that. I think it would simply be confusing and bad design to have the same option in two different places behind entirely differently.

[2015-04-20 20:41] illicium opened #479 "Confusing error message when code incorrectly uses -include_lib()"
My code was trying to include a header from the standard OTP include directory using -include_lib, rather than -include:

    -include_lib("myinclude.hrl").

rebar compile failed with this error message:

[code]

rebar is calling `expand_include_lib_path("myinclude.hrl")`

[code]

[2015-04-20 23:10] lrascao commented on #384
fixed

[2015-04-20 23:10] #384 closed

[2015-04-21 09:12] tuncer commented on #479
@kejv this is why in #467 I suggested to handle this explicitly/differently.

[2015-04-21 09:13] tuncer commented on #479
cc @kej (re #467).

[2015-04-21 09:14] tuncer commented on #479
cc @kejv (re #467).

[2015-04-21 09:28] jacktang commented on #476
OK, I agreed with you. So how about rename `template_vars` to `gloabl_template_vars` or `template_vars_file` in command line, and leave `template_vars` in rebar.config for template scope variables?

[2015-04-21 11:40] ferd commented on #476
What is so inconvenient with a file? I just can't see myself saying yes to this and then other variations. `template_vars` and then having `global_template_vars` or `template_var_files` (which won't happen because we don't break backwards compatibility) all potentially acting on the same variables is *as* confusing if not more confusing than having the same option behave differently in two places.

[2015-04-21 15:06] jacktang commented on #476
As mentioned before, my template defined some variables in OTP application scope. For example, it is going to generate the script `erl -name {{node_name}} -pa ...`, and you've told me the `file.config` in `rebar template_vars=file.config` is global (all applications share the file) so it was not satisfied. Maybe you can give the name of config option in rebar.config?

BR

[2015-04-21 15:15] ferd commented on #476
In rebar.config:

[code]
In vars.config:
[code]

How is this giving you a different scope than:
[code]
I think you might be confused by what "global" mean (the same way I initially was). The "global" config value means it comes from the command line rather than the configuration file.

[2015-04-22 03:30] jacktang commented on #476
Yes, I misunderstood the "global" variables. I thought the variables, which looked like "author.name", "company.copyright", "license" etc, had nothing to do with template.

Now I understand your "global" meaning, Is it reasonable to add TemplateId in config file to void the variable name duplicated? And it would look like (vars.config)

[code]

I am very confused that the different scope variables

[2015-04-22 10:45] sergeyu opened #480 "Multiple cover specs found"
I've a question.
I'm running common tests using rebar:
[code]
rebar.conf contains:
[code]
I see that rebar skips running ct in "deps", but still looking for "cover.spec" inside.
So I get an error:
``
ERROR: Multiple cover specs found
``

Could you please advise, how it can be resolved ?

[2015-04-22 13:23] ostinelli opened #481 "Can run rebar ct only once."
I have a project with a standard OTP structure. Main app is in `apps/myapp`.
My CT are in `apps/myapp/test`.

When I run a simple CT file:

[code]
Then a log directory gets created in `apps/myapp/logs` which contain all CT results.
However, when I run the tests again I get:

[code]

If I delete the `apps/myapp/logs` directory, I can re-run my tests with no problem.
`logs/raw.log` contains:

[code]

[2015-04-22 13:57] ferd commented on #476
I don't think this is supported at all, and we cannot break backwards compatibility, so no, I don't think we can do that.

[2015-04-22 14:00] ferd commented on #481
This sounds like an issue with `ct_run` more than rebar itself. The error message `Test run crashed! This could be an internal error - please report!` comes from CT. This might need to go to erlang-bugs instead of here?

[2015-04-22 18:31] tsloughter commented on #481
Yea, I experience this with rebar as well but not with rebar3, where we don't use `ct_run`.

[2015-04-23 10:13] ostinelli commented on #481
Ok, I've reported this behavior [here](http://erlang.org/pipermail/erlang-bugs/2015-April/004911.html).

[2015-04-23 10:13] #481 closed

[2015-04-23 10:18] ostinelli opened #483 "rebar ignores test.config"
In `myapp` I use a standard `sys.config` file.
I want to use Common Tests and pass in a custom configuration file, with tests configuration.

When I look at the [source code](https://github.com/rebar/rebar/blob/master/src/rebar_ct.erl#L332) I see that I should name my file `app.config` and place it in the test directory, which I did.

However, when I try to get the config variables with `ct:get_co

[2015-04-23 19:43] tuncer commented on #483
It would be great if you can share a demo project demonstrating the issue.

[2015-04-25 19:03] kejv commented on #479
See #485

[2015-04-27 17:37] carlosedp commented on #479
Confirmed that pull request #485 fixes this problem on my test.

[2015-05-05 06:38] jacktang opened #488 "How to use if/case in template file"
Hi,

I found that rebar_templator.erl processes `if` and `case` instructions, could you please give me some examples?

[2015-05-05 08:41] tuncer commented on #488
See #138 and #195. We should document this in an example template or at least as part of the help string printed for `rebar help create` (and create-*). @jacktang, would you like to submit a patch for that?

[2015-05-05 16:08] jacktang commented on #488
OK, it is my pleasure.

[2015-05-05 16:56] tuncer commented on #488
Thanks.

[2015-05-06 10:18] Slavenin opened #490 "Cannot parse OTP Release version string: 17 on windows"
Hi!
On my Windows 7 system function call ```erlang erlang:system_info(otp_release).``` show "17", but regexp on
https://github.com/rebar/rebar/blob/master/src/rebar_require_vsn.erl#L126 not support this format and i can not compile app. This error occurs only if configure ```erlang {require_min_otp_vsn, "R14B03"}```

[2015-05-06 10:50] tuncer commented on #490
We've updated [rebar_utils:otp_release/0](https://github.com/rebar/rebar/blob/master/src/rebar_utils.erl#L403-L437), but it looks like we forgot to do the same for rebar_require_vsn.erl. Would you like to submit a patch? If you do, you'd have to update the tests in https://github.com/rebar/rebar/blob/master/test/rebar_require_vsn_tests.erl as well.

[2015-05-08 14:59] jacktang commented on #488
I modified simplemode.template a little to make it as 'if' instruction example. And we should defined `{withtest, true}` in `foo.vars` file, the command line looks like `rebar create template=simplemod template_vars=foo.vars`. In this alternative, I don't know how to improve `rebar help create` info.

The another way, how about the command line `rebar create template=simplemod withtest=true`? Plea

[2015-05-08 21:03] tuncer commented on #488
Requiring `withtest=true` is a breaking change in the simplemod template, and there's no good reason to. We have no template syntax example in `rebar help create`, so printing a template that showcases all features would work there, but it may not be a perfect fit. Maybe we should take this opportunity to extend `rebar help` and implement `rebar help -g templates`, where `-g GUIDE` prints a guide.

[2015-05-08 21:04] tuncer commented on #488
Also, we should document both `if` and `case`.

[2015-05-09 02:12] ferd commented on #488
Yeah, I'd not break anything we have. If you want it backwards compatible, you might want to use `withouttest` or something, and conditionally omit things.

Otherwise, having a template to showcase it is good. Let's not put stuff where it isn't needed just to show it off. Documenting them and having them as an ad-hoc demo are not required to *both* be there if we don't have a good reason to.

[2015-05-09 07:58] jacktang commented on #488
Wiki is the better place to document the template syntax?
I didn't find the topic in wiki pages so that I read the source code and wrote some examples.

[2015-05-09 11:11] tuncer commented on #488
I'd prefer to have more help built-in, but wiki is okay as a quick solution.

[2015-05-09 14:58] jacktang commented on #488
I add `case` instruction example [here](https://github.com/jacktang/rebar-templates/blob/master/test.template) . If someone write the wiki page, you may refer to it (now I don't have right to edit the wiki pages).

And let me try to implement the `rebar help -g templates` idea.

[2015-05-09 16:33] tuncer commented on #488
Unfortunately, r/w access had to be limited to admins and org members due to SPAM and malicious edits. You can clone rebar.wiki.git and file a ticket to merge your commits.

[2015-05-09 16:53] olof commented on #381
After having the same issue, I played around with docker's storage backend, and that seems to be significant. I was able to reproduce with aufs backend but not with devicemapper backend. (This flag (`-s`) should be given when starting the docker service.)

[2015-05-09 16:59] olof commented on #381
Sorry, spoke too fast. It only became less reproducible: went from triggered 100% of the times to ~2/10 times.

[2015-05-09 17:25] tuncer commented on #381
/cc @ferd @tsloughter

[2015-05-09 17:52] ferd commented on #488
Yeah, I'll have to manually merge the wiki edits. People kept vandalizing them.

[2015-05-09 17:53] ferd commented on #381
Would that point to a purely docker issue compared to anything else?  I'm not sure what could fix it if rebar otherwise works fine on OSX, Windows, BSD, multiple linux distros and so on.

[2015-05-10 09:36] olof commented on #381
@ferd, if that question was aimed at me, I don't feel qualified to say, but I don't think that's an unreasonable conclusion. Hard to say without knowing the root cause of this issue.

[2015-05-10 13:43] ferd commented on #381
I've marked this as a question and a bug given we're not quite sure who can fix this or if it's even our fault then.

[2015-05-12 15:42] derek121 opened #495 ""make check" failure from erlc_dep_graph_rt:run/1"
cc @kejv

[code]

`~/.dialyzer_rebar_17.4_pl` was previously built with `make build_plt`. First saw this while working on PR https://github.com/rebar/rebar/pull/336

The `make check` eventually fails for me with the following:

[code]

[2015-05-16 21:59] nlfiedler opened #497 "Gracefully report missing .app.src file"
Started a new project, created the src directory, a single Erlang module, a simple Makefile, and a simple rebar.config. Tried to build, and got the following.

$ make
rebar compile escriptize
==> getopt (compile)
==> fixperms (compile)
Uncaught error in rebar_core: {'EXIT',
                               {{badmatch,{error,bad_directory}},
                                [{rebar_core,process_comman

[2015-05-17 09:50] tuncer commented on #497
This crashed quite far along in the process for a dir it assumed to be processible. Can you share a demo project to reproduce the error?

[2015-05-17 09:56] tuncer commented on #497
It most likely fails in the `code:set_path/1` call in rebar_utils:expand_code_path/0`, but there shouldn't be non-existent ebin dirs in the list.

[2015-05-17 10:11] tuncer commented on #497
Can you try with the `code-path-check` branch in tuncer/rebar.git and post the output?

[2015-05-17 14:41] nlfiedler commented on #497
Rather than make a GitHub project or a gist, either of which might disappear some day, I'll just paste the entire thing here, for posterity. It's pretty small anyway, but it might be less convenient for you. In that case, you have my apologies.

$ cat Makefile
.PHONY: all clean compile

all: compile

compile:
	rebar compile escriptize

clean:
	rebar clean

$ cat rebar.config
{require_otp_vsn, "17"

[2015-05-17 14:43] nlfiedler commented on #497
I should also point out that the deps are necessary, without it the bug doesn't occur.

[2015-05-20 08:25] tuncer commented on #497
Thanks for the detailed information. I don't know when I'll get around to this, so if you want debug the issue, I'm glad to answer any questions you might have.

Also, `prepare-deps` is `get-deps compile`, so you can skip the extra `get-deps`. And `refresh-deps` is `update-deps compile`.

[2015-05-30 20:38] tuncer commented on #497
Created a project as described, and tried with R13B03 and 18.0-rc2, but I cannot reproduce the crash.

[2015-05-30 20:47] tuncer commented on #497
FYI:

``{erl_opts, [debug_info, fail_on_warning]}.``

should be

``{erl_opts, [warnings_as_errors]}.``

to use the right Werror option and omit what's already enabled by default (debug_info).

`rebar prepare-deps` is already `rebar -r get-deps compile`, so you can simplify the invocation. Finally, in case you didn't know, have a look at `rebar help`, and you'll be see how you can abbreviate comman

[2015-06-02 02:47] choptastic opened #503 "Release location moved, crashing on recompile"
If a reltool-generated release is moved (that is, if the entire directory structure is moved to a different location), running rebar from within that release (and using the release's Erlang version), it crashes.

The full error message is:

[code]

Upon further inspection is appears in trying to read the contents of a file that no longer exists:

In my case, the `Source` file generating the error

[2015-06-02 07:14] tuncer commented on #503
@kejv, what do you think?

[2015-06-02 07:46] tuncer commented on #503
Given that each project has its own `.rebar/erlcinfo`, we should store the relative path instead.

[2015-06-02 11:53] ferd commented on #503
I think we can't properly store relative paths because rebar just `cd`s everywhere all the time, doesn't it? So if you're down in a dep, the path needs to be absolute to be properly readable from the project root later on, no?

[2015-06-02 16:35] #350 closed

[2015-06-03 09:50] tuncer commented on #503
Each project has its own `.rebar/erlcinfo`, so relative paths are fine for project-local files. External files like the parsetools header are a problem, and updating the entry with the new absolute path seems like the solution there.

[2015-06-03 18:56] tuncer commented on #503
I have another idea how to solve this. Let's see if it works out...

[2015-06-03 19:49] tuncer commented on #503
@choptastic can you try the wip-include_lib branch in my fork, and see if it helps?

[2015-06-03 19:51] tuncer commented on #503
@choptastic can you try the wip-include_lib branch in my fork, and see if it helps? If it works, I'd like to see a full log (-vv) to be sure.

[2015-06-03 20:20] choptastic commented on #503
I'll check of out within the hour
On Jun 3, 2015 2:51 PM, "Tuncer Ayaz" <notifications@github.com> wrote:

[2015-06-03 20:28] tuncer commented on #503
I'll add extra debug logs, please wait.

[2015-06-03 20:42] tuncer commented on #503
Logs modified.

[2015-06-03 20:46] tuncer commented on #503
@choptastic I need you to provide logs for three runs:

1. first run
2. second run, after moving stuff around
3. last run, rebuilding again without moving stuff around

[2015-06-03 20:46] tuncer commented on #503
@choptastic I need you to provide logs for three runs:

1. first run
2. second run, after moving stuff around
3. last run, rebuilding again without moving stuff around

It's probably best to put them in a gist.

[2015-06-03 20:47] tuncer commented on #503
Signing out for today.

[2015-06-04 17:12] choptastic commented on #503
Here's one big gist, captured with `script` and lightly annotated to differentiate each run.

As I understand your request, here's what I did, in short.
1) Build the nitrogen so that it's not moved around at all (the default nitrogen behavior is to move a new release to a different directory, so specifying the PROJECT and PREFIX locations as I did ensure they stay where they are)
2) Move the relea

[2015-06-04 17:15] choptastic commented on #503
Also, I was a little wrong, since the app gets built and run from the released as a self-contained thing, the actual commands as executed from the Makefile looks more like this:

[code]
Which basically ends up running as:

```export PATH=/www/nitrogen-git/nitrogen/erts-6.3/bin:$PATH; ./rebar -vv compile```

This is to force the release to always use the release-copied version of Erlang.

[2015-06-04 18:05] tuncer commented on #503
I cannot see any include_lib message during `==> mimetypes (compile)`. Any idea?

Also, `mimetypes/rebar.config` seems to contain `{erl_opts, [debug_info, fail_on_warning]}`, but `debug_info` is enabled by default and `fail_on_warning` must be `warnings_as_errors`. So the correct option is `{erl_opts, [warnings_as_errors]}`.

[2015-06-04 18:45] choptastic commented on #503
Perhaps this can help.  Mimetypes doesn't use include_lib to include those headers, it uses a -file() directive, (I'm not sure what that is), and it's in a generated mimetypes_parse.erl file.

This is the mimetypes_scan.erl file that gets generated: https://gist.github.com/choptastic/d6fbec543e796c528a8e

And I'd guess it's crashing on this, which apparently gets hardcoded into the source code:
-f

[2015-06-04 19:26] tuncer commented on #503
Okay, I see. You wrote

and from that it wasn't evident this is a -file() attribute. So, it's actually leex embedding attributes with absolute paths. From what I can tell, the same problem exists with yecc.

The logical solution seems to regenerate mimetypes_parse.erl if the absolute path becomes invalid.

We could try to detect a leex-generated file and manipulate the paths, but that's doesn't se

[2015-06-04 19:27] tuncer commented on #503
cc @rvirding @ferd

[2015-06-04 19:30] tuncer commented on #503
Nevertheless, can you please use the scenario to test the changes in my branch by adding an include_lib("kernel/include/file.hrl") to one of the files and repeat the steps (with -vv logs). That's because the bug which exists (but doesn't affect you yet) is real, and the branch should fix it.

[2015-06-04 19:43] choptastic commented on #503
Agreed. I honestly didn't know what was causing it. It only first appeared after fixing #350

The thing that strikes me here is that it works just fine with rebar 2.5.0. I haven't dug into any of the details about what the differences are between 2.5.0 and HEAD that would cause it to break.

Sure, I'll give it a check in a bit.

[2015-06-04 19:57] tuncer commented on #503
That's because of the new dependency handling code. We process -file() attributes as dependencies of that source file, and the problem is that the path is absolute.

We can experiment with modifying the leex:file() call in rebar_erlc_compiler with a custom {includefile, "path_to_/leexinc.hrl"}:

1. You could try a relative path, but a directory move can break that as well.
2. You can try but I dou

[2015-06-04 22:54] rvirding commented on #503
Sorry missed the initial discussion. Leex adds these so that compiler
errors give the right file name, the use file name, and line numbers. Yecc
does the same. I don't really think it is that much of a need to do this
but they do.

Don't know how you would fix it though. What do you do with yecc generated
files?

Robert

On 4 June 2015 at 15:57, Tuncer Ayaz <notifications@github.com> wrote:

[2015-06-05 09:39] tuncer commented on #503
rebar takes -file() attributes into account when looking for a source file's dependencies to use for the needs-(re)compile check.

What happens here is that original location of the leexinc.hrl changes in a Nitrogren-based project after the initial generation of the parser from .xrl.

This crashes in rebar before the compile:file call because we fail to check the now missing leexinc.hrl. @choptast

[2015-06-05 09:39] tuncer commented on #503
@choptastic are you sure 2.5.0 doesn't crash? The same -file() handling code is present there as well.

[2015-06-05 09:40] tuncer commented on #503
rebar takes -file() attributes into account when looking for a source file's dependencies to use for the needs-(re)compile check.

What happens here is that original location of the leexinc.hrl changes in a Nitrogren-based project after the initial generation of the parser from .xrl.

This crashes in rebar before the compile:file call because we fail to file:open the now missing leexinc.hrl.

[2015-06-05 11:51] choptastic commented on #503
@tuncer, it does indeed compile fine with 2.5.0.  Here's the output of building it with rebar 2.5.0 after moving it away from its original location: https://gist.github.com/choptastic/52e04b6ec634e8e849b4

[2015-06-05 11:56] tuncer commented on #503
@choptastic are you sure mimetypes is compiled at least twice? I can only see one `==> mimetypes (compile)`.

[2015-06-05 11:58] tuncer commented on #503
To be clear, the old -file() attribute should fail, if you generated the file (compiled the project) before the dir-move.

[2015-06-05 12:34] choptastic commented on #503
In the script above there, it had already been compiled in the original location, hence why only 1 compile notification.

As far as compiling with erlc, it does compile even with the broken hard paths that don't exist:  Here is a relevant log of the console showing the file with the broken path, and it recompiling with erlc.

https://gist.github.com/choptastic/3c650b309d7b130d9296

[2015-06-05 12:36] tuncer commented on #503
erlc seems to ignore -file() attributes referencing non-existing files. We should do the same and log a DEBUG msg.

[2015-06-05 12:40] tuncer commented on #503
Please try the ignore-invalid-file-attr branch and post a -vv log.

[2015-06-05 13:10] choptastic commented on #503
Here's the run above with the include_lib patch (mimetype removed so it would succeed). There were no crashes.

I added `-include_lib("kernel/file/include.hrl").` to site/src/index.erl

https://gist.github.com/choptastic/bda8deea55eb6ab3894a

[2015-06-05 13:19] choptastic commented on #503
Touched site/src/index.erl (using include_lib patch):

https://gist.github.com/choptastic/0572e046f42bee285bef

[2015-06-05 13:33] tuncer opened #506 "erlc: include_lib expanded path potentially outdated"
It's possible that the expanded include_lib path in the digraph can become outdated and refer to an invalid lib_dir if stuff moves around. One solution is to save the original include_lib path for eventual re-expansion. Maybe we can use the edge or vertex label for that. Also, we may want to special case -file() and -include() as well.

[2015-06-05 13:39] choptastic commented on #503
Using the ignore-invalid-file-attr branch, second run (after moving file locations):

https://gist.github.com/choptastic/d4cad2896bf2b3603eaa

[2015-06-05 14:05] tuncer commented on #503
The file gets cached in nitrogen/.rebar/erlcinfo and is expected to still exist after stuff is moved around. That's the failing file:open/2 call.

[2015-06-05 14:20] tuncer commented on #503
Please try the erlc-unstable-deps branch.

[2015-06-05 14:47] tuncer commented on #503
Please wait, there's other bugs.

[2015-06-05 15:06] tuncer commented on #503
I need to incorporate more fixes. As of yet, unfinished...

[2015-06-05 21:07] tuncer commented on #506
I have an experimental WIP branch, which is being tested in #503.

[2015-06-05 21:12] tuncer commented on #503
Please try my erlc-unstable-deps branch. It's full of debug logs, and the re-expanded path is not updated in the digraph, but it should fix the incorrect file:open/2 call. I'll probably have a look at the digraph update problem on Sunday.

[2015-06-06 20:16] tuncer commented on #503
The current iteration of erlc-unstable-deps has the right idea, but the implementation is flawed. Back to the drawing board.

[2015-06-07 11:19] yannayl opened #507 "Equivalent way to define dependencies results in conflicts"
Defining the same git dependency twice, with different, yet equivalent, definitions cause conflict when updating the dependencies.

How to reproduce:

[code]

will result in:

[code]

This is because on the original rebar.config file, pkt is dependency is declared as `"master"` and in epcap dependency, it's declared as `{branch, "master"}`.
Both declarations are equivalent, yet result a conflict.

[2015-06-07 14:17] tuncer commented on #507
It should be easy to expand the revision part to {branch, "master"} prior to doing the check.

[2015-06-07 14:18] tuncer commented on #507
Want to contribute a patch?

[2015-06-07 15:11] ferd commented on #507
For what it's worth, rebar3 already fixes this, along with other dependency handling overhauls too.

[2015-06-07 15:41] tuncer commented on #503
@choptastic, can you please test my dep-open-crash branch?

[2015-06-07 15:44] tuncer commented on #507
Is this a 2.6.0 blocker?

[2015-06-07 15:48] tuncer commented on #507
This is just an error message, so it's not a 2.6.0 blocker.

[2015-06-07 15:53] tuncer commented on #507
Because the type-less specifier can be a branch or a revision, I don't know if we can precisely unalias it at all. Maybe we should just turn it into a warning message.

[2015-06-07 16:02] ferd commented on #507
Rebar3 handles `"master"` specifically like a branch, the rest like a reference (iirc), and always prints a warning if `{ref, Ref}`, `{tag, Tag}`, or `{branch, Tag}` is not being used to represent a dependency.

[2015-06-07 16:09] yannayl commented on #507
@tuncer git knows the exact checkout revision, we can propagate the resolution to git.

I think that if you turn it into a warning, it should appear in `get-deps` as well, for consistency and clarity.
I was quite surprised when it happened (after doing only `get-deps` for a while).

[2015-06-07 16:35] tuncer commented on #507
@yannayl, can you try my dep-conflict-master branch?

[2015-06-07 18:42] tuncer commented on #507
@yannayl, can you git-am https://github.com/rebar/rebar/commit/fa638e6e5d66.patch and add the missing bits like doing the correct check. I can't spend more time on this before the 2.6.0 release.

[2015-06-07 18:43] choptastic commented on #503
Confirmed to be working on initial run. I will produce a -vv output for you in a moment.

[2015-06-07 18:49] tuncer commented on #503
And current master does not work, right?

[2015-06-07 19:05] choptastic commented on #503
Initial build which builds the release and compiles, then copies to new directory: http://paste.ubuntu.com/11631818/
Second build which tries to run from the new location: http://paste.ubuntu.com/11631938/

And confirmed to be broken in master.

[2015-06-07 19:13] choptastic commented on #503
I know you've been stressing about this, so I want you to know I appreciate you fixing this, even if this isn't quite the complete fix you want (unless it is, in which case, awesome).

The following is also true: The release is built with the current master version of rebar (built, but subsequent `make`s from other directories fail). Then the rebar binary is replaced with your patched version. The

[2015-06-07 19:22] tuncer commented on #503
It's not what I aimed to achieve, but a simple fix which makes sure that we treat the error case correctly.

There was a missing newline in the WARN message, which I just fixed in the branch, so please update your rebar.

Also, what's the log after re-running the test (with the new rebar)? If the 3rd and 4th logs are good as, this should suffice for now.

[2015-06-07 20:25] tuncer commented on #503
pull request: #509

[2015-06-07 20:27] tuncer commented on #503
Thanks for the bug report and testing.

[2015-06-07 20:31] choptastic commented on #503
Of course. Happy to help.

I'll get the report with the new change for you a bit later today, as I'm
currently away from the computer.
On Jun 7, 2015 3:27 PM, "Tuncer Ayaz" <notifications@github.com> wrote:

[2015-06-07 20:32] david-kubecka commented on #503
Hi, I have just got into hits. @tuncer Please let me think for a minute about it before merging the pull request.

[2015-06-07 21:09] david-kubecka commented on #503
After reading through this issue it is still puzzles me how it can happen. Because when the assumed root cause is that erlcinfo is copied to new release location which unchanged node/file names, then I don't know how `modify_erlcinfo/4` can be called without `Source` being an existing file. This can only happen when `digraph:vertex(G, Source)` in `update_erlcinfo/3` returns false which means that

[2015-06-07 23:00] tuncer commented on #503
@david-kubecka, I agree that modify_erlcinfo() shouldn't have to deal with this at all. To be clear, the patch is for unblocking the 2.6.0 release, as I ran out of time for implementing a proper fix. That's why I filed #506. If you agree this is fine to merge, we can discuss the proper solution there, and get the already belated release out the door.

[2015-06-08 10:01] kejv commented on #503
@tuncer I understand (previously was writing from my company github account, sorry). The patch seems ok. I will copy my investigation to #506 so that it doesn't get lost.

[2015-06-08 10:06] kejv commented on #506
See also https://github.com/rebar/rebar/issues/503#issuecomment-109799905

[2015-06-08 14:15] tuncer commented on #503
@ferd just merged #509.

[2015-06-09 07:56] yannayl commented on #507
@tuncer I looked at it some more and realized I can't compare it before executing `git fetch`, which will be executed only after the check. So this is a dead end in the current implementation. (consider "origin/master~1" and "bcb6a4ea45635f0ee96315ead077676ca062f3b5", before fetch they are equivalent, and today they are equivalent, but tomorrow they may be entirely different).

I couldn't find any

[2015-06-17 19:54] tuncer commented on #503
This can be closed.

[2015-06-17 20:01] tuncer commented on #383
What's the status here?

[2015-06-17 20:02] tuncer commented on #206
Given that this was implemented in the rebar3 fork, should we close this?

[2015-06-17 20:03] tuncer commented on #283
@ferd, didn't the rebar3 fork implement this? If so, should we close this?

[2015-06-17 20:30] ferd commented on #283
Yep, does it with profiles. Agreed, and closing.

[2015-06-17 20:30] #283 closed

[2015-06-17 20:31] #503 closed

[2015-06-17 20:32] ferd commented on #383
Nothing new in a very long while, will close and reopen if needed.

[2015-06-17 20:32] #383 closed

[2015-06-17 20:32] ferd commented on #206
Works for me, yeah.

[2015-06-17 20:32] #206 closed

[2015-06-17 20:57] tuncer commented on #58
@ferd has a fix for this been implemented in the rebar3 fork? If so, should we close this?

[2015-06-17 20:58] tuncer commented on #104
@ferd has the rebar3 fork implemented this (including a built-in registry of well-known plugins to enable automatically)?

[2015-06-17 20:58] tuncer commented on #104
@ferd has the rebar3 fork implemented this (including a built-in registry of well-known plugins to use if available and required)?

[2015-06-17 21:09] ferd commented on #58
Yeah, I believe rebar3 just shouldn't inherit anything anymore without overrides.

[2015-06-17 21:09] #58 closed

[2015-06-17 21:09] ferd commented on #104
Not yet. We have the shim module (somewhat partial without enough warning) and docs, but no registry at this time; it's a task for beta/3.0.0.

[2015-06-24 01:46] wschroeder opened #515 "rebar3 new release does not create required empty directories"
I was trying out a minimal compile:

[code]

Looks like three directories are missing from the release and app templates: include, priv, and test.

I was thinking about submitting a pull request that has this diff (I still need to follow the other contributor instructions, but this is the core patch):

[code]

Is this the correct approach, or should there at least be a test template in there?  I a

[2015-06-24 01:54] wschroeder commented on #515
Wow, I opened an issue on my fork.  How silly.  Moving it over.

[2015-06-24 01:54] #515 closed

[2015-06-24 19:13] imfranklin opened #516 "Clean command does nothing for sub_dirs on Mac OS X"
When there are multiple apps living within subdirectories, like so:
[code]
A call to `rebar clean` from the top level directory does not remove any files, or anything at all. Changing to the individual app directories and calling from there functions as expected - `rebar -v clean` called from apps/app1 shows the expected "INFO:  sh info: ... cmd: rm -rf ebin/*.beam", yet shows nothing from the top

[2015-06-25 13:06] joudinet opened #517 "Options to see how erlc is called"
Hi,
While debugging a project that uses rebar for its build process, I was in need of seeing which options are given to erlc. However, even with `-vvvvvvvv`, rebar does not report such information. Any idea/plan how to do that?
P.S.: I even try `strace -f -e execve -s 256 -- rebar compile` but, rebar does not exec to call erlc :-\

[2015-06-25 13:18] ferd commented on #517
That's because rebar does not call `erlc` but rather only calls the Erlang library function for compiling files: https://github.com/rebar/rebar/blob/b2147de614732c3da33e0fc4c4ad0a28394f43d7/src/rebar_erlc_compiler.erl#L530-L537

[2015-06-25 14:02] joudinet commented on #517
Ok, and is there a rebar option to show the content of Opts just before the compilation?
If not, how do you debug compilation issues that may be due to the options given to the compiler?

[2015-06-25 14:17] ferd commented on #517
I don't. Usually things just work. You can see the options in a compiled module by calling `Mod:module_info()` on it; the options passed should be specified.

Otherwise, someone would need to patch in `?DEBUG` prints around the arguments.

[2015-06-25 17:50] tuncer commented on #517
`$ rebar -vv compile`

[2015-06-25 22:45] lrascao commented on #516
i think #56 is relevant here, in my projects i define a {recursive_cmds, [clean]} tuple in the top-level rebar.config, to prevent cleaning the deps i use skip_deps=true

[2015-06-26 00:05] ferd commented on #516
@imfranklin can you confirm @lrascao 's fix works? If so, I misread this and it isn't a bug.

[2015-06-26 00:47] imfranklin commented on #516
@ferd it does work.

On my production servers, which are either CentOS or Debian (and running the stable release of rebar at time of deployment), `clean`...well...cleans it all - recursive by default, it seems. Was this recursive cleaning the previous behavior by default? If so, apologies for bug-reporting a config/function change.

[2015-06-26 00:51] ferd commented on #516
Yeah it used to be default behaviour, then got changed when a bunch of commands got reworked. We were just not very attentive with versioning back then.

[2015-06-26 00:51] #516 closed

[2015-06-26 08:09] yuan2006open opened #519 "rebar generate's bug ? with otp 17"
bash-3.2# rebar compile generate
==> rel (compile)
==> exemplar (compile)
Compiled src/exemplar_app.erl
Compiled src/exemplar_sup.erl
==> rel (generate)
ERROR: generate failed while processing /Users/bai/exemplar/rel: {'EXIT',{{badmatch,{error,"Module 'ELDAPv3' potentially included by two different applications: eldap and tsung."}},
         [{rebar_reltool,generate,2,
                         [{f

[2015-06-26 11:46] ferd commented on #519
And is the ELDAPv3 module included by two different applications, eldap and tsung? Because if so, that's not really a bug.

[2015-06-26 14:53] joudinet commented on #517
@ferd : Thanks. `Mod:module_info()` was indeed useful.
As I'm defining both ERL_COMPILER_OPTIONS
@tuncer: Nope, even with `rebar -vvvvvvvv compile`, it does not show the content of erl_opts and/or ERL_COMPILER_OPTIONS. However, I realize I was trying with rebar 2.5.1 and not rebar 2.6.0. I'm going to retry with the last version (as soon as I fix the extra -m64 flag provided to gcc by rebar, even w

[2015-06-26 15:20] joudinet commented on #517
rebar 2.6.0 does show me the information I was looking for with `-vv`, and that was missing in 2.5.1. Sorry for the noise.

[2015-06-26 15:20] #517 closed

[2015-06-26 15:54] joudinet commented on #436
What about using the ERLANG_ARCH and ERLANG_TARGET variables?
Note that there are some arm64 too (AArch64). So assuming arm is always 32-bit is wrong.

[2015-06-26 16:28] tonyrog commented on #436
Do what you want with the patch, or ignore it. I am using my own fork.

[2015-06-26 21:24] tuncer commented on #436
@tonyrog please see my comment in #451.

[2015-06-27 00:53] tsloughter commented on #519
Yea, this is a bug in processone's eldap and tsung applications, not a bug in rebar.

[2015-07-07 09:59] yuan2006open commented on #519
Thank you!  tsloughter  is right!

[2015-07-07 09:59] #519 closed

[2015-07-14 14:32] 276361270 opened #523 "mac rebar_utils:get_arch() error"
rebar_utils:get_arch().
*\* exception error: bad argument
     in function  ets:lookup/2
        called as ets:lookup(rmemo,99721141)
     in call from rmemo:call_1/1 (src/rmemo.erl, line 270)
     in call from rebar_utils:get_arch/0 (src/rebar_utils.erl, line 104)

[2015-07-14 15:04] ferd commented on #523
@tuncer  ^ this is your stuff now

[2015-07-14 18:18] tuncer commented on #523
The arguments look fine, but maybe the table is lost. @276361270, can you try the debug-ets branch in my fork to check that theory?

[2015-07-14 18:26] tuncer commented on #523
The arguments look fine, but maybe the table is lost. @276361270, can you try the debug-ets branch in my fork to test the theory?

[2015-08-03 23:17] jbalint opened #527 "appid with '-' creates invalid .app.src"
This command:

`$ rebar create-app appid=a-b`

creates a src/a-b.app.src with unquoted atoms "a-b": `{application, a-b,`

attempting to compile results in error:

[code]

thank you.

[2015-08-03 23:57] ferd commented on #527
This bug is at least solved in rebar3. The fix, if to be applied to rebar 2.x is to quote all names (or escape dashes, or forbid them).

[2015-08-04 02:27] tsloughter commented on #527
@jbalint why are you using this rebar instead of rebar/rebar3!

[2015-08-10 11:42] csyangchen opened #528 "generate `applications` fields in the output `.app` file from rebar dependency list?"
In my use case, I need to add every dependent non-otp application to both rebar.config deps and .app.src applications field.

Any thoughts on how to do this, or any reasons against this practice?

[2015-08-10 12:08] ferd commented on #528
What is a dependent non-otp application?

[2015-08-10 12:30] csyangchen commented on #528
`non-otp applications` means applications not provided by otp-release.

For example.

In myapp.app.src file:

[code]

In my rebar.config file:
[code]

I need to update the `dep_app1`, `dep_app2`, ... list in both places.

[2015-08-10 13:03] ferd commented on #528
We shouldn't generate these apps from the dependency list, because there is the possibility that a rebar project has more than one application. Say for example:

[code]
In such a project, it is very possible that `app_a` depends on `dep_app1`, and `app_b` depends on `dep_app2` *and* `app_a`. If we put all deps in the same list, things might work, but in many scenarios (such as tests), you'll now n

[2015-08-10 13:51] csyangchen commented on #528
Now I know better. Thanks for your detailed clarifications.

[2015-08-10 13:59] #528 closed

[2015-08-11 08:27] mingchaoyan opened #529 "Why there is no rebar analyze or rebar dialyzer?"
I just want to use dialyzer to analyze my code!

version
rebar 2.1.0-pre 17 20150406_143650 git 2.1.0-pre-171-gcd55176

rebar -c

clean                                Clean
compile                              Compile sources

escriptize                           Generate escript archive

create      template= [var=foo,...]  Create skel based on template and vars
create-app  [appid=myapp]

[2015-08-11 10:54] ferd commented on #529
2.1.0 is old. 2.6.0 is the current version and it contains dialyzer again.

[2015-08-11 10:54] #529 closed

[2015-08-14 07:37] Kitton opened #531 "Possibility to redefine dependency?"
I'm wondering if it's possible to do it?
Here's an example
I have rebar.config like this

[code]

There's a bson lib in boss->boss_db->mongodb->bson, but I want that mine

[code]

will be used instead of that one(boss->boss_db->mongodb->bson).
Is it possible?
Because with my config mine isn't used.

[2015-08-14 10:36] ferd commented on #531
I believe rebar has no mechanism for this. This need for better control over dependencies is what eventually led to rebar3 being created.

[2015-08-14 19:07] tuncer commented on #531
Related: #222

[2015-08-14 20:14] tsloughter commented on #531
As @ferd said, this is supported in rebar3 https://github.com/rebar/rebar3, so it is suggested that you migrate to it for this feature if you need it.

[2015-08-18 02:30] WanliTian opened #533 "rebar upgrade error"
error message>>>>>>>>>>>>>>

{error,{code_change_failed,<0.764.0>,test,
                           62448313627133718039605472222041464840,
                           {'EXIT',{function_clause,[{test,code_change,
                                                           [62448313627133718039605472222041464840,"version-1",[]],
                                                           [{file,"src/te

[2015-08-18 02:37] #533 closed

[2015-08-18 04:21] WanliTian opened #534 "gen_server upgrade error!"
I have a module named test, like this:

    -module(test).
    -behaviour(gen_server).
    -define(SERVER, ?MODULE).

    %% ------------------------------------------------------------------
    %% API Function Exports
    %% ------------------------------------------------------------------

    -export([start_link/0, get/1, set/2, get/0, set/1]).

    %% ----------------------------------------

[2015-08-18 04:52] WanliTian commented on #534
When starting the process with a name, it works well!

[2015-08-18 09:13] WanliTian commented on #534
the content of appup file is

    {"2", [{"1", [{update,test,{advanced,[]},[]}]}], [{"1", []}]}.

Both these two scenes are save!

[2015-08-18 11:57] lrascao commented on #534
could you provide some more detail, such as:
how are you generating the relup?
how are you performing the upgrade?

[2015-08-18 12:02] WanliTian commented on #534
for version1:

    rebar generate

for upgrade package

    rebar generate
    rebar generate-appups previous_release=hotrep_1
    rebar generate-upgrade previous_release=hotrep_1

[2015-08-18 12:03] lrascao commented on #534
and for applying the upgrade?

[2015-08-18 12:05] WanliTian commented on #534
I can get normal result when this gen_server is started by supervisor
but, when it's started by

     {ok, Pid} = test:start_link(),   %% this start_link calling gen_server:start_link without server name

Its result is wrong

[2015-08-18 12:06] WanliTian commented on #534
i upgrade my rel by this:

    release_handler:unpack("hotrep_2").
    release_handler:install_release("2").
    release_handler:make_permanent("2").

[2015-08-18 12:07] lrascao commented on #534
Looks good, this is most likely related with Erlang's release manager and not rebar itself, any particular reason for not wanting this gen_server to be supervised?

[2015-08-18 12:14] WanliTian commented on #534
I will try it right now!
maybe this is caused for  that the process has no name.

[2015-08-18 12:26] WanliTian commented on #534
Ok!

If the gen_server is supervised, It works well!!!

If not, the process's code is replaced ,but state cannot be changed! In other word, code_change is not called!

[2015-08-18 12:31] lrascao commented on #534
That's really interesting, please do post here any answers you find that explain this behaviour.
Otherwise this issue should probably be closed @tuncer

[2015-08-18 13:32] ferd commented on #534
The behaviour is known and documented. The upgrade process goes down the supervision tree to find which processes to upgrade. That's why you need to give a list of module names in your supervisor's child spec, along with whether it's a worker or not, and that `gen_event` gets a `dynamic` value instead of a list.

This is how things have worked in Erlang for years now and there is no bug or unexpec

[2015-08-19 02:08] #534 closed

[2015-08-22 18:54] debalance opened #536 "-m64 CFLAG set although unavailable"
Rebar sets the -m64 CFLAG on architectures where it is not available, e.g. Debian's arm64 (aarch64-linux-gnu) or alpha (alpha-linux-gnu).
This causes the build process to fail.

See for example
https://buildd.debian.org/status/package.php?p=erlang-sqlite3
https://bugs.debian.org/795932

Maybe instead of hard-coding it for every possible architecture, rebar could probe the compiler?

[2015-08-22 20:00] tuncer commented on #536
Which rebar version? If it's older than 2.6.0, please update first and retry.

[2015-08-22 20:06] tuncer commented on #536
In case you have to backport the fix, fetch https://github.com/rebar/rebar/pull/459.patch.

[2015-08-22 20:07] tuncer commented on #536
Hmm, the fix may be incomplete.

[2015-08-22 20:09] tuncer commented on #536
This was patched partially in #459. A pull request to complete the fix is welcome.

[2015-08-22 20:10] tuncer commented on #536
This was patched partially (LDFLAGS) in #459. If you think CXXFLAGS and CFLAGS should also generally avoid this, please submit a patch.

[2015-08-22 20:13] tuncer commented on #536
Alternatively, you can extend `default_env/0` for other architectures.

[2015-08-24 17:40] tuncer commented on #536
Fix: #538

[2015-08-24 20:05] tuncer commented on #422
Can this be closed as RESOLVED?

[2015-08-25 01:18] #422 closed

[2015-09-04 17:22] mingchaoyan opened #541 "./bin/sp restart report {'cannot load',asn1rt_nif,get_files} and can not start"
##Environment

    Mac OS X 10.10.5
    Erlang/OTP: 17.5
    rebar 2.6.0 17 20150818_094957 git 2.6.0-16-g3239e74-dirty

It is an example of application from the book Programming Erlang. I have git push to [github][1]

Steps to reproduce the error

##build
[code]

##release
[code]
edit reltool.config as follow
[code]
then
[code]

##start
[code]

start an another erl shell
[code]
then the first erl

[2015-09-04 17:43] mingchaoyan commented on #541
It seems restart elang node by start_clean.boot

Why?  Is there any wrong config?

My rebar version is 2.6.0

[2015-09-05 15:22] reith opened #542 "How to upgrade/downgrade in rebar3?"
I'm trying upgrade release but all `install`, `upgrade` and `downgrade` commands, on generated binary complain:
[code]

I don't know why _running to use fully qualified hostnames_ while I set `-sname` in erl options. Anyway, I got same "Node is not running" after providing fully qualified domain name.

[2015-09-05 16:39] #542 closed

[2015-09-06 10:10] mingchaoyan commented on #541
I get the log {"init terminating in do_boot",{'cannot load',asn1rt_nif,get_files}} .
How this happened?
And why asn1rt will be released, actually I didn't config it in reltool.config

[2015-09-06 17:03] mingchaoyan commented on #541
same to https://github.com/rebar/rebar/issues/45

[2015-09-06 17:20] lrascao commented on #541
if you specify in reltool.config `{profile, development}` the restart will work, btw you can just attach to the node and do `init:restart()`to achieve the same result.
I don't think the error conditions are exactly the same as in #45, by activating -loader_debug we can see that the error originates from loading asn1 and not crypto

[2015-09-06 17:33] mingchaoyan commented on #541
@lrascao  what does profile here mean?  Where can I find the all options?

[2015-09-06 17:36] lrascao commented on #541
Fred's book is a good resource on release handling: http://learnyousomeerlang.com/release-is-the-word
`{profile, development | embedded | standalone}
This option will act as a way to specify default *_filters (described below) based on your type of release. By default, development is used. That one will include more files from each app and ERTS blindly. The standalone profile will be more restrict

[2015-09-06 18:13] mingchaoyan commented on #541
@lrascao I said the issue same to #45 because both can solve the problem by remove "-mode embedded". I just believe I had understand the difference between the embedded mode and interactive mode. The asn1 is not basically the modules needed. But now I check the ./bin/sp generate by rebar with {profile, development}, find the start mode is still embedded, and return to confused.
What is the differe

[2015-09-07 16:49] debalance commented on #536
This change has fixed the build failures on Debian.

[2015-09-07 16:49] #536 closed

[2015-09-11 18:16] tuncer commented on #523
ping?

[2015-09-12 15:16] lrascao commented on #541
I finally tracked this down to a bug in OTP (the full explanation is at https://github.com/erlang/otp/pull/830 if curious), hopefully it will be included in a future release.
From what i could determine embedded mode does not allow you to do hot-code loading, this accounts for the manual entry that it's a much more restrictive mode of operation.
The ./bin/sp file is not generated by rebar, it is s

[2015-09-12 15:38] lrascao commented on #541
ping @tuncer

[2015-09-12 17:57] ferd commented on #541
Hot code loading can work with hot code loading, the difference is just that it won't be automated on need; each module needs to be explicitly loaded with `l(Mod)` or a call to the code server, iirc.

[2015-09-12 19:56] tuncer commented on #541
@lrascao, thanks for investigating this. Commented in the pull request.

[2015-09-17 15:06] ccrusius opened #544 "`whoami` should not be used in priv/templates/simplenode.runner - use `id -un` instead."
The `whoami` command, used in the start/stop scripts, has been obsoleted (`man whoami` on my Mac, and some other OSs, states that), and should not be used. The command is not available anymore on SmartOS and Solaris 11. It should be replaced by `id -un`.

For compatibility with older systems, perhaps the script could try `whoami`, and if it fails, try `id -un`.

[2015-09-18 09:10] tuncer commented on #544
How about trying `id -un` first and falling back to `whoami` on failure (`$? != 0`)? Like, say, `$(id -un 2>/dev/null || whoami 2>/dev/null || echo USER_DOES_NOT_EXIST)`.

Can't we use the id instead? If so, isn't `id -u` the most portable option? sudo supports `-u #id` and `-u name`.

[2015-09-18 14:42] ccrusius commented on #544
All of those work, and I think `id -un` is as portable as `id -u`, since the `-n` option support is required by POSIX.

You bring another problem, though, because `sudo` is not supported in many systems (old Linux ones, or FreeBSD/NetBSD unless explicitly installed), or doesn't work unless being called by `root` (OpenBSD behaves that way). A more portable command is `su`, which is  a POSIX standar

[2015-09-18 15:47] ccrusius commented on #544
Larger fix submitted.

[2015-09-18 17:18] tuncer commented on #544
Thanks.

[2015-09-22 05:55] platinumthinker commented on #531
Yes, this possible - use git@github.com:hyperthunk/rebar_inheritable_deps.git as plugin for rebar

[2015-09-22 05:58] platinumthinker commented on #527
This work in lastest version in erlang 17.

[2015-09-27 17:32] #544 closed

[2015-10-01 19:24] tuncer opened #547 "Request to add committers"
Provided they're willing, I'd like to propose the following candidates for rebar/rebar write permissions based on their contribution history.
- Luis Rascão (@lrascao)
- Tomas Abrahamsson (@tomas-abrahamsson)
- David Kubecka (@kejv)

[2015-10-01 19:47] tsloughter commented on #547
+1

[2015-10-01 20:09] ferd commented on #547
Yeah, as much as I'd like to be able to put more time in rebar 2.x, I already struggle to find enough time to do work on rebar3.

As long as the overall objective doesn't change (rebar3 is expected to do the lion's share of new feature development, rebar 2.x cannot break compatibility because rebar3 is technically rebar 3.0.0, and so on) I would be happy to get more hands maintaining rebar 2.x.

[2015-10-02 10:19] lrascao commented on #547
+1, willing and able

[2015-10-02 12:52] tsloughter commented on #547
Pulling in some owners of the rebar org: @Vagabond @jaredmorrow

[2015-10-02 18:28] jaredmorrow commented on #547
+1

On Friday, October 2, 2015, Tristan Sloughter <notifications@github.com>
wrote:

[2015-10-02 22:25] tsloughter commented on #547
@jaredmorrow or @Vagabond can you do the addition? I can't create a new team.

[2015-10-03 21:11] jaredmorrow commented on #547
Sorry, just got back from a long meetup last night.  I added an additional team with them being invited.

[2015-10-05 00:56] Havvy opened #548 "warn_deprecated_function option should take a max_version parameter"
The `warn_deprecated_function` option should take a `max_version` parameter and not warn for deprecated functions greater than that version. If the max_version given is unknown to the release, warn on all deprecated functions.

This would prevent issues like the `cpg` application v1.5.0 failing to build on Erlang R18.1 because `now` was deprecated.

It would also require that deprecations are tagg

[2015-10-05 09:04] tuncer commented on #548
Maybe I'm missing something, but aren't you asking for a feature in `compile:file/2` (used by `erlc`) instead?

[2015-10-05 14:36] Havvy commented on #548
Yes, I am. Thanks for pointing that out.

[2015-10-05 14:36] #548 closed

[2015-10-05 19:24] tuncer commented on #374
@lrascao can you look into this?

[2015-10-06 09:54] lrascao commented on #374
Sure thing, can't use my user as i have the same issue as @ferd.
So i've created the `rebar-win-ci` github user and configured appveyor to build a fork of rebar, works out of the box pretty well, smooth build. I've got the creds of the user with me, any ideas on the best way to share them?
Tests, not so smooth, most file related tests are failing, i'm not on Windows so it's a bit hard to debug, is

[2015-10-06 11:04] tuncer commented on #374
So i've created the rebar-win-ci github user and configured appveyor to build a fork of rebar, works out of the box pretty well, smooth build. I've got the creds of the user with me, any ideas on the best way to share them?

What permissions does the user require for the repo. Does it need write permissions in rebar/rebar to be linked in the hook?

I don't know of any current rebar contributor dev

[2015-10-06 11:59] lrascao commented on #374
Two application require permissions:
* AppVeyor:
  * Read org and team membership
  * Access user email addresses (read-only)
*AppVeyor CI:
  * Full control of repository hooks
  * Read org and team membership
  * Access commit status

[2015-10-06 13:37] tuncer commented on #374
What's `Full control of repository hooks`?

[2015-10-06 14:32] lrascao commented on #374
I imagine it's access to the webhook REST API (https://developer.github.com/v3/repos/hooks/), rebar has Travis so i'm guessing it's already giving out Write Hook access

[2015-10-09 09:31] tuncer commented on #374
If we already have to allow that for Travis, then I suppose we'll have to live with it, even though I don't know why a hook should be allowed to modify a repo's hooks. It sounds reckless.

Also, we can ignore the results of AppVeyor while we work towards fixing the issues in rebar/rebar, circumventing the need for a Windows workstation. Or do you think that's a bad idea?

So, how do we enable it f

[2015-10-09 09:49] rebar-win-ci commented on #374
True, i'll shoot an email over to them about it

That's fine, i've been looking at it in the meantime and found some issues already, someone with a Windows workstation will probably move much faster. We can enable the tests and not use the badge in the README until these problems have been resolved

I've already created a rebar-win-ci github user, it needs to be added to the org with the required

[2015-10-09 09:50] lrascao commented on #374
oops, the comment above is mine, was logged with the rebar-win-ci by mistake

[2015-10-09 15:47] tuncer commented on #374
Can you make the config changes, or do we need assistance from @ferd or @jaredmorrow?

[2015-10-09 16:06] lrascao commented on #374
we do, an org owner must add `rebar-win-ci` to the Continuous Integration team i've just created with read-only access, hopefully this should do the trick

[2015-10-09 18:05] jaredmorrow commented on #374
@lrascao I just sent an invite to @rebar-win-ci and added it to your CI team.

[2015-10-09 18:26] tuncer commented on #374
Thanks, @jaredmorrow!

@lrascao I'd say let's add the badge to the README and if possible not enable it for pull request up until all regressions are corrected first.

[2015-10-09 18:27] tuncer commented on #374
Thanks, @jaredmorrow!

@lrascao I'd say let's add the badge to the README and if possible not enable it for pull requests until all regressions are corrected first.

[2015-10-10 14:31] lrascao commented on #374
Thanks! @jaredmorrow, there should an approval request for appveyor to access the org data through @rebar-win-ci pending in your email

[2015-10-12 12:50] lrascao commented on #374
#549 submitted, builds/tests enabled on master only, badge added to README

[2015-10-13 15:10] evnu opened #550 "Templates cannot cope with whitespace in paths"
Some scripts in `priv/templates` have problems with paths containing whitespace. For example, `simplenode.runner`:

[code]

I identified `simplenode.runner` and `simplenode.nodetool` to show problems like this. Maybe other scripts are affected as well.

[2015-10-14 07:49] evnu commented on #550
To find missing quotation of variables in shell scripts, [shellcheck](https://github.com/koalaman/shellcheck) can be used. shellcheck returns a lengthy list for `simplenode.runner`. Example:

    In simplenode.runner line 6:
    if [ `uname -s` = 'SunOS' -a "${POSIX_SHELL}" != "true" ]; then
         ^-- SC2046: Quote this to prevent word splitting.
         ^-- SC2006: Use $(..) instead of deprec

[2015-10-14 09:12] tuncer commented on #550
/cc @ccrusius

[2015-10-14 09:13] tuncer commented on #550
@evnu, would you like to submit a patch?

[2015-10-14 11:02] evnu commented on #550
@tuncer I will give it a try.

Note that OTP itself has problems with whitespace in paths: https://github.com/erlang/otp/pull/849. Thus, patching the issues here will move the problem further upstream.

[2015-10-14 11:18] tuncer commented on #550
Thanks.

rebar has to work with all kinds of OTP versions, including those that haven't fixed the issue. Therefore, it's wise to fix what we can in rebar and the shell scripts.

[2015-10-14 12:27] evnu commented on #550
The changes to fix this issue will be rather large. I would like to add unit tests to check that this does not break the wanted behaviour. What is the right place to add such tests?

[2015-10-14 14:10] evnu commented on #550
Regarding my note on erlang/otp#849: when using the arguments which do not invoke `escript` (such as `simplenode.runner console`), the referenced bug does not apply, as `erl` is called directly.

[2015-10-14 17:35] tuncer commented on #550
`inttest/`.

[2015-10-14 17:44] ccrusius commented on #550
Hi - I think I was CCd because shellcheck showed some potential errors in lines that `git blame` to me. As evnu noticed, these problems occur everywhere in the template.

These things are hard to solve in shell scripts. In all my jobs, whenever we have to provide startup scripts, we end up compiling them for all supported platforms from C source, where the problem is manageable with `exec()` and f

[2015-10-16 00:18] dcarastan opened #553 "Proto compiler needs an protos_pb.erl src_out_dir option"
protos_pb.erl comes handy when one tries to parse a stack trace. I have prepared https://github.com/rebar/rebar/pull/552 with a possible fix for it.

Thanks,
Doru

[2015-10-16 12:02] tuncer commented on #553
/cc @tomas-abrahamsson @lrascao

[2015-10-17 11:16] BernardNotarianni commented on #542
I had the same issue. I am wondering if [this commit](https://github.com/rebar/rebar3/commit/13e6563be4b94b4d1cdef11e143867310e73c643) is the source of this problem.

[2015-10-19 09:17] evnu commented on #550
See https://github.com/rebar/rebar/pull/554 for a test suite to verify that fixes for this bug do not introduce regressions.

[2015-10-19 09:36] evnu opened #555 "rebar generate-upgrade ignores overlay"
While implementing https://github.com/rebar/rebar/pull/554, I realized that the upgrade package generated with `rebar generate-upgrade` does not contain files from the overlay. This is not an issue when tools such as `simplenode.nodetool` are placed into `erts-xxx/bin`, but comes as a surprise when generating an upgrade and being hit with an error message by `simplenode.runner`, which cannot find

[2015-11-02 14:26] evnu commented on #550
I pushed my current state to https://github.com/evnu/rebar/tree/fix-whitespace_in_path-errors. Unfortunately, with erlang/otp#849 pending, there is no good way to actually try the changes, as execution will end as soon as Erlang executables are called. Due to this, testing against the testsuite from https://github.com/rebar/rebar/pull/554 can also not work at this point in time.

I'll leave the br

[2015-11-03 10:22] tuncer commented on #550
But the fix is useful and not breaking anything with older OTP releases, from what I can tell. If that's true, we should merge it. @lrascao?

[2015-11-03 10:46] lrascao commented on #550
yep, looks good, i would however suggest squashing the 3 commits into a single one if possible, makes for cleaner history
+1

[2015-11-03 10:55] tuncer commented on #550
In this case, the separate commits are fine, as the separation makes sense. For example, fixup commits are needed for easily reviewing changes to the pr, given GitHub's review system, and those should be squashed, but this looks good to me.

[2015-11-03 10:56] tuncer commented on #550
The first commit needs to remove the trailing period.

[2015-11-03 10:56] tuncer commented on #550
The first commit needs to remove the trailing period in the commit summary.

[2015-11-03 10:57] tuncer commented on #550
And Magnus needs to append his name in THANKS.

[2015-11-03 11:01] tuncer commented on #550
Similarly, there shouldn't be merge commits that sync with master, but there's nothing like that in the branch.

[2015-11-03 20:28] tuncer opened #561 "Stale branches"
If I'm not mistaken the following are stale branches and can be deleted. Can someone take care of it?

[code]

Also, it seems like `2.1` can be deleted as well and, if needed, be replaced with a tag.

/cc @ferd @jaredmorrow

[2015-11-04 19:34] evnu commented on #550
@tuncer do you mean https://github.com/evnu/rebar/commit/8c8095fc79697906e1951eb12fd340abe169db49 with "first commit"?

[2015-11-04 20:25] tuncer commented on #550
I was looking at `Use dirname(1) instead of sh string substitution.`(55598565fc3c), which is part of #554. It's what you referenced, but maybe it's the wrong patchset.

[2015-11-05 18:59] knusbaum commented on #542
@reith Why did you close this? Was there a workaround?

[2015-11-05 19:23] ferd commented on #542
Part of it is that this is a rebar3 question in the rebar 2.x repository.

[2015-11-05 22:15] reith commented on #542
Yes, I posted issue in wrong project.  I think main issue is with [relx](https://github.com/erlware/relx/issues/299) and workaround is not using short name :)

[2015-11-10 19:50] kejv commented on #547
Hi all,

sorry for late reply, I have just came back from vacation.

I am certainly willing to help (and hopefully also able timewise).

Regards,

David

---------- Původní zpráva ----------
Od: Tuncer Ayaz <notifications@github.com>
Komu: rebar/rebar <rebar@noreply.github.com>
Datum: 1. 10. 2015 21:24:55
Předmět: [rebar] Request to add committers (#547)

"

Provided they're willing, I'd like to p

[2015-11-11 06:46] wuchuguang commented on #531
support {deps, [{dir, "/home/erlang/xxxPoject"}]} ?

[2015-11-11 06:50] wuchuguang commented on #531
can support file_dir?

[2015-11-11 07:03] wuchuguang opened #563 "erl_first_files, parse_transform"
rebar.config ->
{erl_first_files, ["module_strengthen.erl"]}.
{erl_opts, [no_debug_info,
            {i, "include"},
            {srcs, ["src"]}
    ]
## }.

src/com_ets.erl
     -compile({parse_transform, module_strengthen}).
     xxxxxx
     xxxxxx
src/module_strengthen.erl

rebar co
  src/com_ets.erl:none: undefined parse transform 'module_strengthen'

[2015-11-11 07:04] wuchuguang commented on #563
{erl_first_files, ["/src/module_strengthen.erl"]}.
{erl_first_files, ["src/module_strengthen.erl"]}.
 i try this two way. but not fix it.

[2015-11-11 07:30] wuchuguang opened #564 "if project A depend project B header file"
like
A
 rebar.config
    {deps_dir, [B parent path]}

  src/a.erl
    -include("b.hrl").

B
  include/b.hrl

In A project , how i include b.hrl

[2015-11-11 07:33] wuchuguang commented on #564
src/a.erl
    -include("B/include/b.hrl").
    -include("b.hrl").
    -include_lib("B/include/b.hrl").
    -include_lib("b.hrl").
 all  report : can't find include "b.hrl"

[2015-11-11 13:15] ferd commented on #563
Can you specify which version of Rebar you are using?

[2015-11-11 13:16] ferd commented on #564
That is not how `deps_dir` works. `deps_dir` lets rebar know where to put the dependencies it fetches. Not which paths to go look at.

[2015-11-12 05:58] wuchuguang commented on #564
thanks

[2015-11-12 06:04] wuchuguang opened #565 "erl_opts support multisource dir , multiinclude dir ?"
db_driver
     ebin
     include
     src
           db_helper.erl
                 -include("mysql.hrl").
     mysql
          include
              mysql.hrl
          src
     mongodb
          include
          src
    rebar.config->
           {erl_opts, [warn_export_all,
            warn_unused_import,
            {i, "include"},
            {i, "mongodb/include"},
            {i, "mysql/inc

[2015-11-12 06:13] wuchuguang commented on #565
db_driver

    ebin

    include

    src

    db_helper.erl

    -include("mysql.hrl").

    mysql

        include
            mysql.hrl
        src
    mongodb
        include
        src
    rebar.config->
        {erl_opts, [warn_export_all,
        warn_unused_import,
        {i, "include"},
        {i, "mongodb/include"},
        {i, "mysql/include"},
        {src_dirs, ["src","mysql/src","

[2015-11-13 07:14] #564 closed

[2015-11-18 05:53] wuchuguang commented on #563
rebar 2.6.0 17 20151113_072031 git 2.6.0-16-g3239e74-dirty

[2015-11-18 05:56] nevar commented on #563
Did you try without `erl_first_files`?

[2015-11-18 06:17] wuchuguang opened #568 "project A deps common,mysql lib, rebar generate"
savserver.rel
{release, {"savserver","2.0"},{erts,"6.3"},
         [{kernel,"3.1"},....]
}.
.... not find mysql common lib include

[2015-11-21 08:06] platinumthinker opened #569 "Error multithread compile"
I see sometimes this error:
[code]
But i run rebar in one thread (rebar co -j1) this works...

[2015-11-21 14:51] lrascao commented on #569
Do you have a public repo available where this happens? Also what OTP version are you using?

[2015-11-26 10:22] platinumthinker commented on #569
I use Erlang/OTP 17 [erts-6.4.1.2] and lastest rebar from master

[2015-11-26 13:20] ferd commented on #569
for what it's worth, I believe we entirely dropped parallel compilation in rebar3 and noticed no ill-effect on overall compilation speed.

[2015-11-26 15:05] lrascao commented on #569
@platinumthinker do you see this happening on a public repo where i could try it out?

[2015-11-27 05:01] #569 closed

[2015-11-27 10:47] tuncer commented on #569
@platinumthinker why did you close this? Can't you reproduce it anymore? If you can reproduce it, did the bug appear after a specific rebar release?

[2015-12-03 12:28] tuncer opened #571 "Wiki "Dynamic configuration" fix"
There's a sentence in "Dynamic configuration" that needs to be split and is missing punctuation. While at it, link to relevant Erlang manpage.

Current version:
[code]

Should be:
[code]

[2015-12-03 12:35] tuncer commented on #561
ping?

[2015-12-03 12:36] tuncer commented on #561
cc @lrascao

[2015-12-03 14:10] lrascao commented on #571
Wiki updated as suggested

[2015-12-03 14:10] #571 closed

[2015-12-06 08:51] platinumthinker commented on #569
@tuncer this bug reproduced on several repository but i not retry 100%... This bug appears once per week =(

[2015-12-06 08:53] platinumthinker commented on #569
@ferd thank you for true about not effective parallel compilation (i use core i7 and SSD)

[2015-12-06 15:50] lrascao commented on #569
@platinumthinker can you please point some of those repositories where you found the issue?

[2015-12-08 05:53] WanliTian opened #572 "rebar generate-upgrade"
I have one problem when using rebar to generate upgrade packet.

My application have some dependencies  including hackney.The hackney applicaiton has one **included_applications** called `ssl_verify_hostname`.

Now i use `rebar generate-upgrade previous_release=test-pre` to genereate my upgrade packet, but i got `ERROR: Systools [systools:make_relup/4] aborted with: [{error_reading,

[2015-12-08 11:38] tuncer commented on #547
@jaredmorrow, ping re: @kejv?

[2015-12-08 11:47] tuncer commented on #547
@kejv, if I understand @jaredmorrow correctly, you should be already invited.

[2015-12-08 15:58] jaredmorrow commented on #547
Yes, he's indeed been invited.

[2015-12-09 13:59] lrascao commented on #572
Do you have a simple project where this issue occurs? also can you please send the output of `rebar -v generate-upgrade previous_release=test-pre`

[2015-12-10 05:50] WanliTian commented on #572
try this:

1. `mkdir hotrep && cd hotrep`
2. create a project with `rebar create template=simpleapp appid=hotrep`
3. add an dependent application for rebar.config(**hackney**) and change hotrep.app.src
4. generate a release
5. change this application's version
6. generate new release , appup and upgrade packet.

when using `rebar` to generate upgrade packet, you will get the error that i got

[2015-12-10 05:55] WanliTian commented on #572
using this -v option ,i got this:

`ERROR: Systools [systools:make_relup/4] aborted with: [{error_reading,
                                                        {ssl_verify_hostname,
                                                         {not_found,
                                                          "ssl_verify_hostname.app"}}}]
ERROR: 'generate-upgrade' failed while processing /home/us

[2015-12-10 15:46] lrascao commented on #572
also, could you please check your rebar version? `rebar --version`

[2015-12-11 08:58] WanliTian commented on #572
I will try it later
thx for your reply.

my rebar version is `rebar 2.6.0 18 20150910_080108 git 2.6.0-24-g2941760`

[2015-12-11 09:09] WanliTian commented on #572
i rebuild rebar with the latest version`rebar 2.6.1 18 20151211_090405 git 2.6.1-16-gb19a839`, and i get the same result.

`ERROR: Systools [systools:make_relup/4] aborted with: [{error_reading,
                                                        {ssl_verify_hostname,
                                                         {not_found,

[2015-12-13 17:04] lrascao commented on #572
The issue here seems to be that hackney is not included in your `rel` section of reltool.config, `ssl_verify_hostname` doesn't get exported along with with hackney, this leads to the error you're getting, try adding it, it should solve your issue

[2015-12-13 17:42] lrascao commented on #569
This is actually pretty easy to reproduce:
`[spawn(fun() -> beam_lib:get_crypto_key(<<"ola">>) end) || _ <- lists:seq(0,10)].`
`beam_lib:call_crypto_server_1` is not checking for an already started crypto server, `compile:abstract_code` calls `beam_lib:get_crypto_key`, since there might be several processes
compiling code this race condition becomes apparent. A fix has been proposed for OTP (erlan

[2015-12-13 19:23] kejv commented on #547
@jaredmorrow  Hmm, pardon me but I can't see the invitation you are talking about, neither in my github account nor in my mail box. Can you please double check that I was reaaly invited, or direct to the place where I can accept the invitation?

[2015-12-14 03:40] platinumthinker commented on #569
@lrascao Thanks! This good patch solved my problem

[2015-12-14 17:42] jaredmorrow commented on #547
@kejv I just doubled checked and updated the invite.  I don't know how to get rid of the invite and do it again, but it sure seems like it is pending.

![screenshot 2015-12-14 10 41 29](https://cloud.githubusercontent.com/assets/718326/11788655/60d6bfc6-a24f-11e5-8ca1-bffabaed0b31.png)

[2015-12-15 04:14] #572 closed

[2015-12-17 10:24] MikeBenza opened #574 ""rebar ct" ignores "suites", "groups" and "cases" options if there's a ct spec"
If you have a [test spec](https://github.com/rebar/rebar/blob/b041bd990d1c5db2a4d6f8bed6897528d467c743/src/rebar_ct.erl#L277), then `suites`, `groups`, and `cases` are [ignored](https://github.com/rebar/rebar/blob/b041bd990d1c5db2a4d6f8bed6897528d467c743/src/rebar_ct.erl#L221) on the command line.  There should be some way to ignore the specs.  At a minimum this limitation should be [documented](h

[2015-12-21 02:29] WanliTian opened #575 "Some questions"
### question one

I have some questions when using `relbin upgrade`.
All my machines have hostnames like `dev1.bggroup1.wm.com`, and this style hostname will no work.
Why rebar has this limitation(the first dot and all chars after that dot will be removed).
### question two

Is there a way to generate vm.args that set `name` like this `app-name@ip`.
I don't want to using hostname, but ip. The reas

[2015-12-28 17:00] brigadier opened #576 "rebar on a linux with non-smp kernel"
I've recently had an issue on a cheap VPS which had kernel built apparently without smp support. rebar (rebar2) just hangs wor a while on such VPS, then fails with the 'cannot create aux thread' error or something like that. `erl`, built for smp kernels, fails with the same error, but it is still possible to start it with the `-smp disabled` command line option. Is there somethink like this for re

[2015-12-28 21:41] tuncer commented on #576
You can (1) configure the environment to always have `ERL_FLAGS="-smp disable"` (you wrote `disabled`, but it must be `disable`) and (2) use a patched rebar binary, where you override the default `escript_emu_args` by adding `{escript_emu_args, "%%! -pa rebar/rebar/ebin -smp disable"}` in `rebar/rebar.config` before building. Perhaps you also need `+A0`.

[2016-01-02 20:52] tuncer commented on #561
ping?

[2016-01-03 22:01] lrascao commented on #561
i'm going to try and map these branches to any pending pull requests, see if they still apply

[2016-01-12 15:03] lrascao commented on #574
I guess we have two options here regarding CT:
  - Document that .spec files always override command line options
  - Change rebar so that command line options override .spec files

I personally prefer the first, i'm more used to look for CT related stuff in the .spec and not on Makefiles, what's everybody's thoughts on this?
cc @tuncer @ferd

[2016-01-12 18:07] ferd commented on #574
The first would probably prevent breakage given the current status of the project and how stable that kind of stuff has been.

[2016-01-12 21:13] tuncer commented on #574
Yes, we shouldn't change the existing behavior. But, you could of course implement something like `ignore_ct_spec=1` (or another name). That's opt-in and should of course also be documented in `rebar help ct`.

[2016-01-14 13:32] sparktwinny opened #577 "can I generate release from Windows to use on Linux?"
It works on windows, but for example can I copy and paste release file to linux and run it ?

[2016-01-14 16:07] ferd commented on #577
You can only do so if the release uses the Linux Erlang runtime system. These files (basically the VM) are not portable. The same caveat also applies to drivers, NIFs, and other C code that could be compiled.

Basically, only standard .beam files are portable in that whole thing, so if your release only needs *these*, it should work fine. Otherwise, it won't be enough and you'll need to cross-comp

[2016-01-17 17:07] matwey opened #579 "enuit: cp -r Permission denied"
Hello, I am facing the following with erlang 17.1 when do `make test`:

[code]

[2016-01-18 10:28] lrascao commented on #579
These are two tests that are actually expected to fail, they are:
cp_r fails to fs permission errors
cp_r fails to fs permission

you can find them in test/rebar_file_utils_tests.erl

[2016-01-18 18:38] matwey commented on #579
Is it possible to hide the messages from user?

[2016-01-18 18:42] kbrown commented on #579
And what have you done to troubleshoot?  ( I don't want to insult you by suggesting obvious things)

[2016-01-18 18:49] kbrown commented on #579
P.S. ignore my last post.  Hadn't read whole thread.

[2016-01-19 10:37] lrascao commented on #579
@matwey i don't see any reason for it not to be possible, we'll more than welcome any pull request in that regard

[2016-01-22 09:50] lrascao commented on #541
PR https://github.com/erlang/otp/pull/830 has since been merged and released in OTP 18.2 (http://www.erlang.org/download/otp_src_18.2.readme, issue OTP-13115)

[2016-01-22 09:50] #541 closed

[2016-01-22 22:31] lrascao commented on #180
@dizzyd is no longer maintaining retest so it's not such a bad idea moving it to the rebar org

[2016-01-22 22:34] lrascao commented on #181
https://github.com/seth/rebar_lock_deps_plugin does a good job of locking deps, my suggestion we advise people to use that instead of implementing it in rebar

[2016-01-22 22:36] lrascao commented on #324
closing since PR #317 also has been closed

[2016-01-22 22:36] #324 closed

[2016-01-22 22:37] lrascao commented on #435
Closing since #434 has since been merged

[2016-01-22 22:37] #435 closed

[2016-01-22 22:40] lrascao commented on #374
#549 has been merged, so i guess what's missing now is activating it for pull requests, only the org owner can do so i believe, @jaredmorrow could you take a look please?

[2016-01-22 22:47] lrascao commented on #474
This has actually been fixed indirectly by way of #562, the approach chosen (that also works on Windows) was setting the full node name (suffixed with @localhost), https://github.com/rebar/rebar/pull/562/files#diff-bfab0bebbc294af8b0b15e47cfa4df5dL43

[2016-01-22 22:47] #474 closed

[2016-01-22 23:01] lrascao commented on #561
* adt-update-deps-hooks: #277 #159 unmerged
* adt-random-suite-order #223: merged, i've deleted the branch
* revert-413-undo-386-merge: closed, i've deleted the branch
* jem-add-license-prtool: merged, i've deleted the branch

so actually, the only branch that requires some work is adt-update-deps-hooks, i'll look into it

[2016-01-22 23:14] lrascao commented on #480
This is most likely already fixed, similar to #525, could you please check with rebar 2.6.0 is this still happens?

[2016-01-22 23:21] lrascao commented on #436
Closing since cleaned up version #520 of #451 has since been merged

[2016-01-22 23:21] #436 closed

[2016-01-22 23:23] lrascao commented on #579
#329

[2016-01-23 00:11] lrascao commented on #357
Closing as both #466 and #477 have been merged

[2016-01-23 00:11] #357 closed

[2016-01-23 00:18] lrascao commented on #241
Closing as #411 has since been merged

[2016-01-23 00:18] #241 closed

[2016-01-23 17:03] tuncer commented on #181
Sure, or alternatively, suggest rebar3 once it's restored some of the features that got lost in the refactoring.

[2016-01-23 17:04] tsloughter commented on #181
rebar3 itself is, and has been for a while now, feature complete for the coming stable release of 3.0.

[2016-01-23 17:04] tuncer commented on #180
@jaredmorrow, or whoever has the rights to do so, go ahead and add a fork at rebar/retest.

[2016-01-23 17:08] tuncer commented on #181
From a certain perspective that's true, and I can understand that you might view some of the lost features unimportant. But, I would like to have only one active rebar version, and the removal of some features, as discussed in the past, prevents me from using or promoting rebar3. Eventually, we'll get there. If you'd like to discuss it (again), let's start a thread on the list.

[2016-01-23 17:10] tuncer commented on #561
#277 might be risky change, but ever since the previous refactoring of `update-deps`, there's been regression(s). Some stuff got fixed, other things regressed. See #277 for a detailed discussion with pointers.

[2016-01-23 17:34] tsloughter commented on #181
Feel free to start a thread, I don't know what lost features you are referring to.

[2016-01-23 17:52] tuncer commented on #181
Sure, will do.

[2016-01-23 21:56] lrascao commented on #181
So i suppose this means we can close this ticket as well, right?

[2016-01-23 21:59] lrascao commented on #180
Ideally @dizzyd could move it to the rebar org, if he agrees of course

[2016-01-24 05:52] jaredmorrow commented on #180
It has been forked https://github.com/rebar/retest.  Someone can now go about updating the dep in rebar to point at the fork

[2016-01-24 15:49] lrascao commented on #180
done
@jaredmorrow, could you please activate retest on Travis?

[2016-01-25 11:41] tuncer commented on #180
Thanks.

[2016-01-25 22:10] tuncer commented on #181
Yes.

[2016-01-25 22:26] #181 closed

[2016-01-27 15:20] Leon-SFS opened #582 "Uncaught error in rebar_core"
hi
when i run
"rebar get-deps" in ejabberd root directory "Uncaught error in rebar_core" happens
and this is my rebar version output command : "rebar 2.0.0 R16B01 20131022_120229 No VCS info available"

Uncaught error in rebar_core: {'EXIT',
                               {{badmatch,
                                 {ok,
                                  {config,"/home/lebird/ejabberd",

[2016-01-27 16:01] lrascao commented on #582
Could you try the latest rebar version? I've had no problem using 2.6.1

[2016-01-28 10:19] lrascao commented on #565
Tried your example with rebar 2.6.1 successfully, what version are you using?

[2016-01-28 10:27] lrascao commented on #574
I came across an issue with `rebar ct` that might be relevant to this ticket. In rebar.config you can define  a `ct_dir`entry that states the location of your `_SUITE.erl` files, this is where rebar goes to look for them, however when it goes looking for `.spec` files rebar doesn't know use this directory at all, it just recursively searches from the project root.
This feels like a bug and if fixe

[2016-01-28 19:07] msilvestre opened #583 "error running rebar generate on OSX"
On OSX I'm having an error when running rebar generate.
Searching the internet I didn't find any clue on how to solve it. The erlang I have is the 17.5.

Any clue?

Thanks.

[code]

[2016-01-28 19:21] ferd commented on #583
"{error,"miniclip_server: Application version clash. Multiple directories contain version \"0.1\"." is being returned. I figure this means you have multiple directories with the application 'miniclip_server' in them, and they all have the same version, which confuses reltool.

[2016-01-28 19:36] msilvestre commented on #583
I don't understand the directories problem. I've done everything as on the tutorials..

I've just pushed it to github:

https://github.com/msilvestre/miniclip_server.git

[2016-01-29 09:56] posilva commented on #583
I have tried your repo and I was able to run rebar generate after these steps:

1. Removed rel and files
2. Run rebar create-node nodeid=miniclip_server
3. Edited reltool.config and added "../.." and "../deps" to the lib_dirs entry
4. Run rebar generate and voilá

[2016-01-29 10:30] msilvestre commented on #583
Recreating that steps it didn't work for me. :(

Anyone else?

[2016-01-29 14:14] msilvestre commented on #583
moved to rebar3..
If anyone has the same issue, try rebar3:
http://www.rebar3.org/

[2016-01-29 14:14] #583 closed

[2016-02-01 14:16] WanliTian opened #584 "use rebar to generate release. when start app, i got this error: {"init terminating in do_boot",{'cannot load',elf_format,get_files}}"
how to resolve it.

[2016-02-02 11:08] lrascao commented on #584
From the `elf_format` error, i would say you are trying to run platform incompatible binaries, are you running the release in the same machine where you compiled it?

[2016-02-03 03:16] WanliTian commented on #584
yes, i create and run the release in the same machine.
finally i remove hipe from my machine with `{app, hipe, [{incl_cond, exclude}]}`, then all work well.

[2016-02-03 09:17] #584 closed

[2016-02-14 23:47] lrascao commented on #490
see #587

[2016-02-15 00:33] lrascao commented on #577
Closing, @sparktwinny please re-open if anymore doubts still persist

[2016-02-15 00:33] #577 closed

[2016-02-15 00:34] lrascao commented on #582
@Leon-SFS ping?

[2016-02-15 00:35] lrascao commented on #568
Could you please elaborate a bit more on the issue? Maybe an example project here on github that exposes the error

[2016-02-15 00:36] lrascao commented on #565
@wuchuguang ping?

[2016-02-15 00:47] lrascao commented on #574
See #588 for a possible fix. @MikeBenza, this allows you to separate test specs each with their own groups and cases, would this work for you?

[2016-02-15 00:48] lrascao commented on #479
Closing

[2016-02-15 00:48] #479 closed

[2016-02-15 00:49] lrascao commented on #480
Closing, please do re-open if issue still occurs

[2016-02-15 00:49] #480 closed

[2016-02-15 00:56] lrascao commented on #104
Is this still relevant given rebar3's advances in the meantime?

[2016-02-15 13:18] ferd commented on #104
We do have a better-defined plugin API for rebar3, but I think it still needs expanding to avoid having people depend too much on the internals. I'm not sure how much we expect rebar 2.x's plugins to evolve in the upcoming years though. I'd say it's probably stable now.

[2016-02-15 16:29] MikeBenza commented on #574
@lrascao I haven't built it and tested it myself, but based on that diff, I strongly believe that will resolve the issue I had.

[2016-02-15 16:56] tuncer commented on #104
@ferd, that's what I intended a shim module to be for: define one or more plugin API modules which expose things in a stable fashion, leaving anything else as internal.

I'd say we can close this, but if rebar3's plugin API doesn't promise stability (yet), maybe we ought to wait with that.

[2016-02-15 17:37] ferd commented on #104
Yes, we do have a `rebar_api` module, and that's what I meant by 'needs expanding'; adding functions to it. Closing this, as we should have stability by 3.0.0, which should be increasingly soon now.

[2016-02-15 17:37] #104 closed

[2016-02-17 11:22] bboozzoo commented on #348
@tuncer this will certainly fix cross-compilation, right now I cannot override `ERL_LDFLAGS` what results in native library paths being picked up instead of the target ones. As a workaround I'm setting ERL_EI_LIBDIR as it's used in the following context:

    ERL_LDFLAGS=-L$ERL_EI_LIBDIR -lerl_interface -lei'

and is itself non-expandable. Fortunately I can override `ERL_CFLAGS`, so in the end I d

[2016-02-17 16:51] Leon-SFS commented on #582
@lrascao sorry for late, i update rebar and its fix, i forgot to come back and say it.
tnx for help

[2016-02-17 16:51] #582 closed

[2016-02-18 10:39] lrascao commented on #103
All of the above tickets have since been closed, closing this one as well

[2016-02-18 10:39] #103 closed

[2016-02-18 21:43] lrascao commented on #490
Closing since #587 as since been merged

[2016-02-18 21:43] #490 closed

[2016-02-19 17:03] lrascao commented on #348
@bboozzoo could you take a look at #590 and see if it fixes your use case? I would also appreciate feedback on some other edge case that we're not covering in the added test

[2016-02-23 15:22] lrascao commented on #182
Fixed in #590

[2016-02-23 15:22] #182 closed

[2016-02-23 15:29] lrascao commented on #374
ping? is @jaredmorrow the only org owner who could activate Appveyor?

[2016-03-06 18:03] badnessJust opened #596 "'start_erl.data is missing' when generating upgrade"
Hello, while following the guide on the wiki page for creating application upgrades : [https://github.com/rebar/rebar/wiki/Upgrades](https://github.com/rebar/rebar/wiki/Upgrades),
I got the  error: `/rel/0.0.1/releases/start_erl.data is missing` when I run `rebar generate-appups previous_release=0.0.1`
The file start_erl.data is not generated anywhere when i generate the release...I really I have

[2016-03-08 15:45] badnessJust commented on #596
My mistake...it turns out I wasn't renaming the the generated release as indicated in the guid

[2016-03-08 15:45] #596 closed

[2016-03-08 18:39] mduller opened #597 "rebar_file_utils:cp_r/2 should follow symlinks"
rebar_file_utils:cp_r/2 is used by rebar_erlc_compiler:test_compile/3 to copy source files to a separate eunit directory, from which they are compiled and cover is run. Currently, cp_r/2 is implemented on Unix-like systems using the shell's cp -R command. This way, symlinks in the source directories are copied as they are (as symlinks) to the eunit directory. For relative symlinks, this can break

[2016-03-12 11:21] lrascao commented on #597
Looks good, would you like to submit a PR with the proposed fix and a simple `inttest/` to prevent future regressions?

[2016-03-14 17:03] mduller commented on #597
Thanks. I'll submit a PR with test later this week.

[2016-03-18 15:30] oladipo opened #600 "escript: exception error: undefined function make:files/2"
When i try to run ./bootstrap to install rebar I get the following error:

oladipo@ubuntu:~/basho/rebar$ ./bootstrap
escript: exception error: undefined function make:files/2
  in function  erl_eval:do_apply/5
  in call from erl_eval:expr/5
  in call from escript:eval_exprs/5
  in call from erl_eval:local_func/5
  in call from escript:interpret/3
  in call from escript:start/1
  in call from init:

[2016-03-18 15:34] oladipo opened #601 "beam/beam_load.c(1317): Error loading module rebar:"
After downloading the prebuilt binaries.

I tried to run rebar but got the following error:

oladipo@ubuntu:~/rebar_new$ ./rebar

=ERROR REPORT==== 18-Mar-2016::16:41:42 ===
beam/beam_load.c(1317): Error loading module rebar:
  use of opcode 153; this emulator supports only up to 149

=ERROR REPORT==== 18-Mar-2016::16:41:43 ===
Loading of /home/oladipo/rebar_new/rebar/rebar/ebin/rebar.beam failed:

[2016-03-18 16:10] lrascao commented on #601
can you post the output from `erl` please?

[2016-03-18 16:28] oladipo commented on #601
oladipo@ubuntu:~/otp_src_18.3$ erl
Erlang R13B03 (erts-5.7.4) [source] [rq:1] [async-threads:0] [hipe] [kernel-poll:false]

Eshell V5.7.4  (abort with ^G)
1>

[2016-03-18 18:53] lrascao commented on #601
I see that you're in a OTP18 src folder, was that the one you were trying to run?
You have R13 in the path, unfortunately rebar is only supported for R14 onwards

[2016-03-18 19:33] tuncer commented on #601
rebar2 runs on anything >= R13B03.

What OTP version did you use when building the rebar binary? It looks like the beam files were built with a newer OTP and make use of opcodes unsupported by R13B03. You should be fine to run it on R13B03 if it was built with R14* and it will definitely work if built with R13B03. In essence, what you compile with R13B03 will work on anything >=R13 but what you co

[2016-03-18 19:40] tuncer commented on #600
How did you install Erlang/OTP? It looks like some modules (and apps) are missing, specifically the tools app, which contains make.beam. `make:files/2` has been exported in `otp/lib/tools/src/make.erl` since at least R13B03 (and likely earlier), so it's safe to assume make.beam cannot be found. If you installed Erlang from a repository that split it into several packages, make sure to install the

[2016-03-21 21:10] oladipo commented on #601
Finally installed erlang OTP 18.3 and rebar on a different machine. I guess the previous machine had some configuration issues. Will sort that out later. Thanks everyone

[2016-03-21 21:10] #601 closed

[2016-03-21 21:11] oladipo commented on #600
You are correct. Installed erlang and rebar on a different machine. No issues this time. Thanks

[2016-03-21 21:11] #600 closed

[2016-06-03 11:22] bedekarsarvesh opened #604 "Rebar installation issue"
Installed rebar , got the rebar file with extension .file .. Tried connecting it to Intellij Idea erlang version , the rebar version shows NA . Any help appreciated
![image](https://cloud.githubusercontent.com/assets/16263319/15777271/8d9b4016-29ab-11e6-92a1-8acae541482e.png)

[2016-06-04 20:39] tuncer commented on #604
/cc @ignatov

[2016-06-07 23:18] lrascao commented on #348
c43f2e55 reversed this proposed fix due to a regression detected for already existing projects

[2016-06-26 20:55] fhunleth opened #607 "New rebar release?"
Would it be possible to generate a new rebar release? E.g. 2.6.2 or similar so that the accumulated fixes in `master` can be published? If the latest isn't ready for release, including up to e1f7e6a51f5781c626f8d793337215dd70aa7859 is what I need. The particular bug that was fixed by that commit has started coming up more frequently, and it would be really helpful if it could be rolled into an off

[2016-06-27 09:12] lrascao commented on #607
cc @tsloughter @ferd @tuncer

[2016-06-27 13:05] ferd commented on #607
@lrascao if master is ready to tag and release, we can go for it.

[2016-06-28 00:41] tuncer commented on #607
+1

[2016-06-28 00:57] tuncer opened #608 "-p profiler=PROFILER TODO (dependent on new getopt feature)"
`rebar -p profiler=fprof/eflame` shall be replaced with `rebar -p fprof`, while still allowing `rebar -p` to mean "profile with default profiler". For this to work, we must first implement https://github.com/jcomellas/getopt/issues/34.

[2016-06-28 12:41] ferd commented on #607
Released, compiled on R15B03, and updated the wiki link.

[2016-06-28 12:41] #607 closed

[2016-06-28 13:50] fhunleth commented on #607
Thanks!!

[2016-08-15 22:56] firephreek opened #613 "rebar bootstrap fails on first run"
Clean download/clone of latest from master, Win 10, x64, etc...

Running bootstrap.bat results in the following message:

Traced the issue to the case statement on line 23 and the false -> rm("ebin/rebar.beam") statement.  On a clean download, the ebin folder only has a single file: 'rebar.app', so the rm function fails to resolve.

Solution: Explicit check for file existence.  I'm new to Erlang s

[2016-08-15 23:17] lrascao commented on #613
Hi, thanks for the find, don't have access to a windows system right now, would a `del /f /q` also do the trick?

[2016-08-15 23:44] firephreek commented on #613
No, del doesn't help here unfortunately since the directory is already empty.

The installation instructions right now are simply 'clone, cd rebar, run botstrap'.  At that point, the escript does a check for a `force=1` arg (line 23) and does `rm("ebin/*.beam")` and `rm("ebin/rebar.beam")`if it doesn't.  Since the ebin folder is already empty on a clean checkout, and the user hasn't provided force

[2016-08-16 12:33] lrascao commented on #613
thanks, #613  has been merged

[2016-08-16 12:33] #613 closed

[2016-08-29 06:28] #416 closed

[2016-08-30 14:45] tuncer opened #621 "New Dialyzer errors"
[code]

[2016-08-30 14:46] tuncer commented on #621
Trying to run Dialyzer as part of CI #620, but not sure we can make it work within Travis-CI's restrictions.

[2016-08-31 13:08] olgeni opened #622 "Possibile C compiler regression 2.6.2->2.6.3"
Hi,

I upgraded from 2.6.2 to 2.6.3 and tried to build https://github.com/processone/fast_xml, which worked fine with 2.6.2.

With 2.6.3 I get this error:

    ERROR: compile failed while processing /usr/local/poudriere/ports/erlang/textproc/erlang-fast_xml/work/fast_xml-1.1.15: {'EXIT',
        {function_clause,
            [{lists,reverse,
                 [["c_src/fxml_stream.o"|

[2016-08-31 14:01] lrascao commented on #622
Thanks, could you please try again with the fix in PR #619 and check if that fixes your issue?

[2016-08-31 14:11] olgeni commented on #622
Checked - seems to be working fine!

[2016-08-31 14:24] lrascao commented on #622
cool, thanks!

[2016-08-31 14:25] lrascao commented on #622
PR #619 merged to master, will cut 2.6.4 still today hopefully

[2016-08-31 15:16] lrascao commented on #622
2.6.4 is out

[2016-08-31 15:16] #622 closed

[2016-10-01 21:04] CO600-ol38 opened #626 "bootstrap.BAT Windows-10 Issue"
I am a Windows-user and am trying to integrate Rebar-3 for IntelliJ Erlang.

I put the Rebar-3 directory in '//erl8.1/lib/'.
Then, when I try to compile 'bootstrap.BAT' it ALWAYS SAYS 'escript.exe' un-recognized.

Is this a problem with the Erlang-shell, Rebar or Windows??

[2016-10-01 21:09] tuncer commented on #626
@CO600-ol38, is Erlang in `%PATH%`? Can you execute `escript`?

@lrascao, assuming this is a Windows issue, can Appveyor test on Windows 10?

[2016-10-03 20:17] lrascao commented on #626
shouldn't this issue be in the rebar3 project instead?
not sure on Appveyor, can't find anything in their site referring Windows 10 support

[2016-11-02 11:14] agx opened #627 "No way to specify eunit --dirs in config"
Hi,
There doesn't seem to be a way to give the equivalent of

  rebar3 eunit --dir foo,bar,src

in the rebar.conf i.e. I don't want to pass foo,bar,src on the command line but have it be the default patch for eunit to search for tests.

[2016-11-08 16:33] pdcolvin opened #628 "Running rebar on Windows"
I am assuming that the rebar binary has to be renamed to rebar.exe in order to execute it in a Windows environment.  When I do that, and execute rebar, as >rebar -V, I am told that "This version of E:\Program Files\erl8.1\bin\rebar.exe is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher."  A dialog box messa

[2016-11-08 16:44] pdcolvin commented on #628
Solved this myself after doing some digging around.  The install provides us with both a "rebar" and "rebar.cmd" file which both have to be accessible to the PATH.  I put them both in the bin directory of my Erlang install, and now I am cooking with Crisco.

[2016-11-08 16:44] #628 closed

[2016-11-08 17:35] lrascao commented on #627
Could you please clarify if this related with rebar3 or rebar2?

[2016-11-08 18:09] agx commented on #627
On Tue, Nov 08, 2016 at 09:35:05AM -0800, Luis Rascão wrote:

rebar3

[2016-11-08 18:11] lrascao commented on #627
ok, you probably want to report this on the rebar3 page then (https://github.com/erlang/rebar3)

[2016-11-08 18:24] agx commented on #627
Oh dear - no idea how i ended up in the rebar2 tracker, sorry for the noise.

[2016-11-08 19:47] lrascao commented on #627
no problem

[2016-11-08 19:47] #627 closed

[2016-12-16 14:55] sepasti commented on #626
Hi I have same problem in windows 10, how to fix it?
thanks in advance

[2016-12-16 15:22] lrascao commented on #626
@sepasti is your problem also in rebar3?

[2016-12-17 13:51] sepasti commented on #626
Yes, I have this problem also in rebar 3.

[2016-12-17 15:40] lrascao commented on #626
but is your problem specifically in rebar2 or rebar3?

[2016-12-17 16:19] sepasti commented on #626
both of them not woking, maybe in window 10's problem, when I ran bootstrap.bat, it returns this error:
C:\Program Files\erl8.2\rebar3-master>bootstrap.bat
'escript.exe' is not recognized as an internal or external command,
operable program or batch file.

[2016-12-17 16:26] lrascao commented on #626
seems like your erlang is not properly installed, `escript` should be in your PATH

[2016-12-17 16:42] sepasti commented on #626
I removed OTP 19.2 and install OTP 18.3, but not working:

C:\Program Files\erl7.3\lib\rebar3-master>bootstrap.bat
'escript.exe' is not recognized as an internal or external command,
operable program or batch file.

[2016-12-17 16:43] lrascao commented on #626
before running the bootstrap.bat you should be able to run `escript` directly from the path

[2016-12-17 17:10] sepasti commented on #626
you're right, that works. thanks for your kind response

[2016-12-17 17:10] lrascao commented on #626
👍

[2016-12-17 17:10] #626 closed

[2016-12-22 07:37] sugus-seu opened #629 "rebar bootstrap fail"
rebar -V: rebar 2.6.0 18 20150906_075813 git 2.6.0-24-g2941760
Erlang/OTP 18 [erts-7.0] [source] [64-bit]

![image](https://cloud.githubusercontent.com/assets/10327864/21418493/96865ea4-c85c-11e6-9fe7-e5c920af040e.png)

how to fix?

[2016-12-22 08:25] tuncer commented on #629
This has been fixed on 2015-09-11 in commit e025430da864374c16a9c59f0c33fd8438213294 and has been part of a couple releases since.

[2017-01-13 16:57] faizan80 opened #630 "https://github.com/rebar/rebar/wiki/rebar"
https://github.com/rebar/rebar/wiki/rebar
This returns 503 error.
It just started now.

Any solution ?

[2017-01-13 17:01] faizan80 commented on #630
https : // github.com / rebar / rebar /wiki /rebar

[2017-01-13 17:12] ferd commented on #630
Github was down.

[2017-01-13 17:23] faizan80 commented on #630
back now, thanks !!

[2017-01-13 18:23] #630 closed

[2017-01-29 09:28] jhg opened #631 "Error just running inside of Docker container"
[code]

[2017-01-30 11:39] platinumthinker commented on #631
Install erlang-crypto in you docker container

[2017-02-04 08:53] jhg commented on #631
@platinumthinker thank you https://github.com/jhg/cb_docker/blob/master/Dockerfile I added it 😃

[2017-02-04 08:53] #631 closed

[2017-08-18 13:28] mohnqwerty opened #634 "function_clause error"
hi
please help me fix this
Uncaught error in rebar_core: {'EXIT',
                               {function_clause,
                                [{rebar_neotoma_compiler,info,
                                  [help,clean],
                                  [{file,"src/rebar_neotoma_compiler.erl"},
                                   {line,80}]},
                                 {rebar_core,'-hel

[2017-08-18 18:58] tuncer commented on #634
Fixed in #636.

[2017-08-18 19:09] tuncer commented on #629
Like I said, this has been resolved a long time ago in an older release. Therefore, this ticket can be closed as RESOLVED-FIXED.

[2017-08-18 19:42] tuncer commented on #523
@276361270, does the issue persist? Have you tried the debug branch I mentioned?

[2017-08-18 19:44] tuncer commented on #523
@ferd, I think this can be closed, since there's been no feedback from the reporter yet. But feel free to keep it open, if you think my today's ping to @276361270 will get a response.

[2017-08-18 19:52] ferd commented on #523
I don't think pings on 2 year old issues are likely to yield great results. I'll close this, but I'll also say I don't really have the bandwidth to maintain 2 rebars anymore. I can't remove myself from the admin list, but I wouldn't expect much from me on this version of the tool for the foreseeable future.

[2017-08-18 19:52] #523 closed

[2017-08-18 21:27] #629 closed

[2017-08-18 21:29] #634 closed

[2017-08-18 22:05] tuncer commented on #621
@lrascao, we should fix these before the next release.

[2017-08-19 15:48] tuncer commented on #604
@bedekarsarvesh, did you resolve this? Judging by the screenshot, you didn't specify the path to the batch file but the escript archive which won't run in the standard Windows userspace that IntelliJ runs in.

[2017-08-19 15:49] tuncer commented on #576
The suggestions will work with Erlang older than 20, but going forward the non-SMP emulator has been removed. Therefore, I think this can be closed.

[2017-08-19 15:50] tuncer commented on #547
I think it's safe to close this as resolved by now.

[2017-08-19 15:50] #547 closed

[2017-08-19 15:51] #506 closed

[2017-08-19 15:53] tuncer commented on #374
@lrascao, given that the config file has been merged already, can we hook this up at AppVeyor?

[2017-08-19 15:54] #347 closed

[2017-08-19 15:55] #323 closed

[2017-08-19 15:55] #329 closed

[2017-08-19 15:55] #318 closed

[2017-08-19 15:55] #306 closed

[2017-08-19 15:56] #240 closed

[2017-08-19 15:56] #217 closed

[2017-08-19 15:56] #209 closed

[2017-08-19 15:57] tuncer commented on #180
Resolved.

[2017-08-19 15:57] #180 closed

[2017-08-19 15:58] #144 closed

[2017-08-19 15:59] #178 closed

[2017-08-19 16:02] tuncer commented on #561
@lrascao, any thoughts on pursuing the branch for inclusion or closing this?

[2017-08-19 16:07] tuncer commented on #575
/cc @lrascao

[2017-08-19 16:08] tuncer commented on #497
@nlfiedler, does the problem persist, or can this be closed?

[2017-08-19 16:09] tuncer commented on #414
@jiangtiqiang, does the problem persist, or can this be closed?

[2017-08-19 16:10] tuncer commented on #495
@derek121, does the problem persist, or can this be closed?

[2017-08-19 16:12] tuncer commented on #550
Bump?

[2017-08-19 16:13] tuncer commented on #555
Bump?

[2017-08-19 16:13] tuncer commented on #563
What's the status here?

[2017-08-19 16:15] tuncer commented on #301
I had to shelve that project, so unless somebody else is working on this, allow me to ask: can/should this be closed?

[2017-08-19 16:18] norton commented on #301
No concerns.

[2017-08-19 17:08] AeroNotix commented on #301
I don't care any more.

[2017-08-19 17:08] #301 closed

[2017-08-19 21:07] tuncer commented on #621
Closing, now that Travis-CI Dialyzer integration (#620) works and tests are run separately. There's a single job just for Dialyzer.

[2017-08-19 21:07] #621 closed

[2017-08-19 21:07] #608 closed

[2017-08-19 22:27] lrascao commented on #575
@WanliTian @tuncer I'm sorry, but i really have no idea, i've since moved on to rebar3 which has it's own release management tool (`relx`) which is much nicer than reltool, my suggestion is to make the switch to it.

[2017-08-19 22:32] lrascao commented on #374
I'm afraid that i really don't have time anymore to pursue these kind of improvements to rebar2, i've since made the switch on all my projects to rebar3 (and i think a lot of the community has as well).
However i understand that a lot of projects still need to depend on rebar2 to work on newer OTP versions and i don't see a reason not to give write access to @tuncer for continued support, @ferd wo

[2017-08-19 22:36] tuncer commented on #374
I don't have the bandwidth to maintain rebar2. I'm just trying to clean the backlog that's accumulated. Tickets that are open and will not be resolved should be closed. Leaving them open indefinitely isn't a great idea. I closed my obsolete tickets and patches already.

Let's fix the Dialyzer warnings that got introduced and with the Dialyzer integration (#620) merged it won't get new inconsistenc

[2017-08-19 22:37] tuncer commented on #374
Concerning this ticket, I guess we can close it, leaving the appveyor config unused in the repo.

[2017-08-19 22:41] #374 closed

[2017-08-20 00:00] nlfiedler commented on #497
If you can't reproduce it, then it must be gone. Feel free to close this.

[2017-08-20 00:02] #497 closed

[2017-08-20 01:41] ferd commented on #374
@lrascao I do not have access to set new committers or anything like that.

[2017-08-20 16:51] #561 closed

[2017-08-20 17:17] tuncer commented on #604
There's been little activity here and it's not clear that rebar is at fault, so I'd say it's okay to close.

@bedekarsarvesh, please try rebar3 or reopen if it's a pressing issue you haven't been able to resolve.

[2017-08-20 17:28] lrascao commented on #79
I'm closing this due to inactivity and not being a critical enough
issue to let everyone wait for an eventual resolution. Please give
rebar3 a try and feel free to reopen if it's a pressing issue
that is still unresolved.

[2017-08-20 17:28] #79 closed

[2017-08-20 17:31] lrascao commented on #86
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:31] #86 closed

[2017-08-20 17:32] lrascao commented on #159
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:32] #159 closed

[2017-08-20 17:32] lrascao commented on #169
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:32] #169 closed

[2017-08-20 17:32] lrascao commented on #170
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:32] #170 closed

[2017-08-20 17:32] lrascao commented on #202
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:32] #202 closed

[2017-08-20 17:33] lrascao commented on #238
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:33] #238 closed

[2017-08-20 17:33] lrascao commented on #256
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:33] #256 closed

[2017-08-20 17:33] lrascao commented on #259
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:33] #259 closed

[2017-08-20 17:33] lrascao commented on #261
Hi, this issue was closed in an attempt to do quick basic filtering. These issues and pull requests are not issues or code we're spitting on, but given the burden of the task and how much code rot may have happened since these were open is unknown from maintainers at this time. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give
rebar3 a try and fee

[2017-08-20 17:33] #261 closed

[2017-08-20 17:34] lrascao commented on #264
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:34] #264 closed

[2017-08-20 17:34] lrascao commented on #286
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:34] #286 closed

[2017-08-20 17:34] lrascao commented on #297
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:34] #297 closed

[2017-08-20 17:34] lrascao commented on #312
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:34] #312 closed

[2017-08-20 17:34] lrascao commented on #343
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:34] #343 closed

[2017-08-20 17:35] lrascao commented on #364
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:35] #364 closed

[2017-08-20 17:35] lrascao commented on #381
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:35] #381 closed

[2017-08-20 17:35] lrascao commented on #379
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:35] #379 closed

[2017-08-20 17:35] lrascao commented on #348
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:35] #348 closed

[2017-08-20 17:35] lrascao commented on #346
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:35] #346 closed

[2017-08-20 17:35] lrascao commented on #334
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:35] #334 closed

[2017-08-20 17:36] lrascao commented on #391
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:36] #391 closed

[2017-08-20 17:36] lrascao commented on #407
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:36] #407 closed

[2017-08-20 17:36] lrascao commented on #483
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:36] #483 closed

[2017-08-20 17:36] lrascao commented on #358
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:36] #358 closed

[2017-08-20 17:37] lrascao commented on #239
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-20 17:37] #239 closed

[2017-08-21 15:53] lrascao commented on #359
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:53] #359 closed

[2017-08-21 15:53] lrascao commented on #247
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:53] #247 closed

[2017-08-21 15:53] lrascao commented on #325
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:53] #325 closed

[2017-08-21 15:54] lrascao commented on #282
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:54] #282 closed

[2017-08-21 15:54] lrascao commented on #291
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:54] #291 closed

[2017-08-21 15:54] lrascao commented on #298
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:54] #298 closed

[2017-08-21 15:54] lrascao commented on #313
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:54] lrascao commented on #369
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:54] #369 closed

[2017-08-21 15:54] lrascao commented on #377
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:54] #377 closed

[2017-08-21 15:54] lrascao commented on #389
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:54] #389 closed

[2017-08-21 15:55] lrascao commented on #313
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #313 closed

[2017-08-21 15:55] lrascao commented on #396
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #396 closed

[2017-08-21 15:55] lrascao commented on #414
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #414 closed

[2017-08-21 15:55] lrascao commented on #427
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #427 closed

[2017-08-21 15:55] lrascao commented on #476
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #476 closed

[2017-08-21 15:55] lrascao commented on #488
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #488 closed

[2017-08-21 15:55] lrascao commented on #495
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #495 closed

[2017-08-21 15:55] lrascao commented on #507
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #507 closed

[2017-08-21 15:55] lrascao commented on #527
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #527 closed

[2017-08-21 15:55] lrascao commented on #531
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #531 closed

[2017-08-21 15:55] lrascao commented on #550
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:55] #550 closed

[2017-08-21 15:56] lrascao commented on #574
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #574 closed

[2017-08-21 15:56] lrascao commented on #575
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #575 closed

[2017-08-21 15:56] lrascao commented on #576
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #576 closed

[2017-08-21 15:56] lrascao commented on #568
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #568 closed

[2017-08-21 15:56] lrascao commented on #565
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #565 closed

[2017-08-21 15:56] lrascao commented on #563
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #563 closed

[2017-08-21 15:56] lrascao commented on #555
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #555 closed

[2017-08-21 15:56] lrascao commented on #553
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #553 closed

[2017-08-21 15:56] lrascao commented on #579
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #579 closed

[2017-08-21 15:56] lrascao commented on #597
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:56] #597 closed

[2017-08-21 15:57] lrascao commented on #604
Hi, this issue was closed in an attempt to do quick basic filtering. All tickets prior to March 2017 were closed and will be reopened on a per-request basis, please give rebar3 a try and feel free to reopen if it's a pressing issue that is still unresolved.

[2017-08-21 15:57] #604 closed

[2017-08-21 22:22] davidw commented on #264
http://blog.erlware.org/rebar3-features-part-6-_checkouts-2/ - looks like the checkouts mechanism changes things...

[2017-08-23 18:00] cfra commented on #348
What is the status then? For future reference it would be really useful if the way this was addressed was documented here in the issue. If it was not addressed, leaving the issue open would make more sense, in my humble opinion.

[2017-08-23 21:53] lrascao commented on #348
There's likely no further effort being put in this ticket by the maintainers seeing as rebar2 is now deprecated, we recommend trying out rebar3 and it's port compiler plugin (https://github.com/blt/port_compiler), chances of improvements/requests being integrated are much better there.

[2017-11-08 07:15] benseshi commented on #613
ben@kali:~/Downloads/rebar-master$ ./bootstrap
./bootstrap:40: Warning: string:strip/3: deprecated; use string:trim/3 i
./bootstrap:149: Warning: string:strip/3: deprecated; use string:trim/3
./bootstrap:150: Warning: string:strip/3: deprecated; use string:trim/3
Recompile: src/rebar
src/rebar.erl:529: Warning: string:tokens/2: deprecated; use string:lexe
stead
src/rebar.erl:596: Warning: string:j

[2017-11-14 21:00] tuncer commented on #613
@benseshi, that's an unrelated error and means your Erlang/OTP installation is missing a functioning cryto app (which requires linking OpenSSL). If you built from source, you may have forgotten to install OpenSSL development files first. Otherwise, if you installed from a binary repo that has split Erlang packages, you may need to install the crypto package too.

[2017-11-15 04:35] benseshi commented on #613
How to install them bro

[2017-11-15 11:54] benseshi commented on #613
../test/recipes/40-test_rehash.t                 (Wstat: 256 Tests: 5 Failed: 1)
  Failed test:  4
  Non-zero exit status: 1
Files=137, Tests=1130, 421 wallclock secs (13.43 usr  1.98 sys + 318.87 cusr 142.84 csys = 477.12 CPU)
Result: FAIL
Makefile:167: recipe for target '_tests' failed
make[1]: *** [_tests] Error 1
make[1]: Leaving directory '/home/ben/openssl'
Makefile:165: recipe for target 't

[2017-11-15 17:43] tuncer commented on #613
OpenSSL should be already available if you installed any kind of desktop environment in your operating system. And the OpenSSL development packages, if packaged separately as on distros like Fedora or Debian/Ubuntu, are an extra install (libssl-dev, openssl-devel). Please use that if you want to build Erlang from source.

However, given the errors you ran into, may I suggest installing Erlang bina

[2018-03-02 12:46] parmar7725274 opened #646 "Unable to set verbosity for relup command"
I have the project hosted on SVN. I'm trying to generate relup but unfortunately its not working. So to debug it further I thought of enabling debug(verbosity) using -V option of relup command. I'm using the following command. _**./rebar3 relup -V 3**_  but it's not reflecting.

I have tried with **DEBUG=1** But I didn't see any relup related debug prints.

Can anyone assists with this?

[2018-03-02 13:32] parmar7725274 opened #647 "Failed to generate 'relup'"
Hello everyone,

I have the project hosted on SVN. I want to generate relup file. Here is Details of issue i'm facing.

Project Directory structure, (Hope It is clear to everyone :) )

**/erl_experiment/**
------------------  **trunk/**
------------------  **branches/**
----------------------------------rel_v0_1_0/
-----------------------------------------------_{Source Code}_
--------------------

[2018-03-02 14:17] lrascao commented on #647
maybe you'd like instead to try out rebar3, this version has been deprecated and there's not a lot of support expected out of it

[2018-03-05 04:24] #647 closed

[2018-03-05 04:25] #646 closed

[2018-03-26 09:56] haoxianhan opened #648 "config include path doesn't effect on recursion directory"
I have project structure like:
![image](https://user-images.githubusercontent.com/3611408/37899644-b34f02c6-311e-11e8-9521-2d84c5501044.png)
rebar.config set `{erl_opts, [{i, "include"}]}.`
when I change a.hrl, compiler doesn't recompile the erl files which included the a.hrl .

[2018-03-29 17:45] tuncer commented on #648
rebar has been superseded by rebar3, and as a consequence this repo is scheduled/supposed to be [archived](https://blog.github.com/2017-11-08-archiving-repositories/). Sorry for the inconvenience of the repo appearing to be active.

/cc @dizzyd @jaredmorrow @lrascao

[2018-03-30 01:39] haoxianhan commented on #648
thinks, new project has change to rebar3.

[2018-03-30 01:39] #648 closed